{% extends "base.html" %}

{% load i18n %}

{% block container_class %}container{% endblock %}

{% block sidebar %}
<div class="sideBar">
    <div class="links">
        {% load recruiting_trials %}
        {% get_latest_recruiting_trials 5 as latest_recruiting_trials %}
        <h2>{% trans 'Recruiting' %}</h2>
        <ul>
        {% if latest_recruiting_trials %}
            {% for ct in latest_recruiting_trials %}
                <li><a href="{% url repository.trialview ct.id %}">{{ ct.short_title }}</a></li>
            {% endfor %}
        {% else %}
            <li>{% trans 'No clinical trials recruiting.' %}</li>
        {% endif %}
        </ul>
    </div>
</div>
{% endblock %}

