{% extends "admin/change_form.html" %}

{% load i18n %}

{% block extrastyle %}{{ block.super }}
<style type="text/css">
    .buttons {
        padding: 5px;
    }

    .form-row div.value {
        margin-left: 190px;
    }
</style>
{% endblock extrastyle %}

{% block content %}
<div id="content-main">

<div class="module buttons">
    {% if original.display == 'True' %}
    <a href="display-off/">{% trans "Set Display Off" %}</a>
    {% else %}
    <a href="display-on/">{% trans "Set Display On" %}</a>
    {% endif %}
</div>

<fieldset class="module aligned wide">
    {% for field in trial_fields %}
    <div class="form-row {{ field.name }}">
        <div>
            <label>
              {% if field.name == "translations" %}
                {% trans "Translations" %}
              {% else %}{% if field.name == "support_sources" %}
                {% trans "Support Sources" %}
              {% else %}{% if field.name == "primary_outcomes" %}
                {% trans "Primary Outcomes" %}
              {% else %}{% if field.name == "secondary_outcomes" %}
                {% trans "Secondary Outcomes" %}
              {% else %}{% if field.name == "trial_number" %}
                {% trans "Trial Numbers" %}
              {% else %}{% if field.name == "hc_code" %}
                {% trans "Heath Codes" %}
              {% else %}{% if field.name == "intervention_keyword" %}
                {% trans "Intervention Keywords" %}
              {% else %}{% if field.name == "secondary_sponsors" %}
                {% trans "Secondary Sponsors" %}
              {% else %}{% if field.name == "hc_keyword" %}
                {% trans "Heath Keywords" %}
              {% else %}
                {{ field.label }}
              {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
                {% endif %}{% endif %}
            </label>
        
            <div class="value">
              {% if field.name == "primary_sponsor" %}
                {% trans "ID" %}: {{ field.value.pk }}<br/>
                {% trans "Name" %}: {{ field.value.name }}<br/>
                {% trans "Address" %}: {{ field.value.address }}<br/>
                {% trans "Country" %}: {{ field.value.country.description|default:field.value.country.label }}<br/>
                {% trans "Creator" %}: {{ field.value.creator.username }}
              {% else %}{% if field.name in vocabulary_fields %}
                {% if field.value.description %}
                  {{ field.value.description }}
                {% else %}
                  {{ field.value.label }}
                {% endif %}
              {% else %}{% if field.name == "public_contact" %}
                {% for item in field.value %}
                {{ item.firstname }} {{ item.middlename }} {{ item.lastname }}<br/>
                {% endfor %}
              {% else %}{% if field.name == "scientific_contact" %}
                {% for item in field.value %}
                {{ item.firstname }} {{ item.middlename }} {{ item.lastname }}<br/>
                {% endfor %}
              {% else %}{% if field.name == "site_contact" %}
                {% for item in field.value %}
                {{ item.firstname }} {{ item.middlename }} {{ item.lastname }}<br/>
                {% endfor %}
              {% else %}{% if field.name == "i_code" %}
                {% for item in field.value %}{{ item.description|default:item.label }}<br/>{% endfor %}
              {% else %}{% if field.name == "recruitment_country" %}
                {% for item in field.value %}{{ item.description|default:item.label }}<br/>{% endfor %}
              {% else %}{% if field.name == "translations" %}
                {% for item in field.value %}{{ item.language }}<br/>{% endfor %}
              {% else %}{% if field.name == "support_sources" %}
                {% for item in field.value %}{{ item.name }}<br/>{% endfor %}
              {% else %}{% if field.name == "secondary_sponsors" %}
                {% for item in field.value %}{{ item.name }}<br/>{% endfor %}
              {% else %}{% if field.name in outcome_fields %}
                {% for item in field.value %}
                {% trans "Description" %}: {{ item.description }},
                {% trans "Interest" %}: {{ item.interest }}<br/>
                {% endfor %}
              {% else %}{% if field.name == "trial_number" %}
                {% for item in field.value %}
                {% trans "Issuing Authority" %}: {{ item.issuing_authority }},
                {% trans "ID Number" %}: {{ item.id_number }}<br/>
                {% endfor %}
              {% else %}{% if field.name in description_fields %}
                {% for item in field.value %}
                {% trans "Vocabulary" %}: {{ item.vocabulary }},
                {% trans "Code" %}: {{ item.code }},
                {% trans "Text" %}: {{ item.text }},
                {% trans "Translations" %}: {% for t in item.translations %}{{ t.text }} ({{ t.language }}), {% endfor %}<br/>
                {% endfor %}
              {% else %}
                {{ field.value }}
              {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
                {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</fieldset>

</div>
{% endblock content %}
