<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block page_title %}Reclac Platform{% endblock %}</title>
</head>
<body>
    <div class="login">
    {% block login %}{% endblock %}
    </div>
    <div class="heading">
        <h1>{% block headline %}Reclac, part of the WHO/ICTRP network{% endblock %}</h1>
    </div>
    <div class="body">
    {% block body %}{% endblock %}
    </div>
</body>
</html>
