{% extends "repository/submission_step.html" %}
{% load i18n %}
{% block body %}

    <h2>{% trans title %}</h2>

    {% if existing_attachments %}
        <h3>{% trans 'Existing attachments' %}</h3>

        {% for attachment in existing_attachments %}
            <ul>
                <li>{% trans 'File' %}:
                    <a href="http://{{host}}{{attachment.get_relative_url}}">
                        http://{{host}}{{attachment.get_relative_url}}
                    </a>
                </li>
                <li>{% trans 'Description' %}: {{attachment.description}}</li>
            </ul>
        {% endfor %}
    {% endif %}
    

    <h3>{% trans 'New attachment form' %}</h3>
    <form action="./" method="POST" enctype="multipart/form-data">{% csrf_token %}

        {% for formset in formsets %}
            {{ formset.management_form }}
            <fieldset>
            <legend>{{ formset.form.title }}</legend>


            <div class="{{formset.management_form.prefix}}">
            {% for form in formset.forms %}
                <table class="dataTable {% cycle 'even' 'odd' %}" cellspacing="0">
                    {{ form.as_table }}
                </table>
            {% endfor %}
            </div>
            <div style="text-align: center">
              <input onclick="cloneMore('div.{{formset.management_form.prefix}} table:last','{{formset.management_form.prefix}}')" type="button" value="{% trans "Add more" %}" />
            </div>
            </fieldset>
        {% endfor %}
        <input type="submit" value="{% trans "Save" %}"/>
    </form>

{% endblock %}
