{% extends "base.html" %}

{% load i18n %}

{% block body_title %}{% trans 'Clinical Trial' %}{% endblock %}

{% block body %}
    <h2>{{ object.very_short_title }}</h2>


    <style type="text/css">
        span.label, span.legend {
            font-weight: bold;
        }
        span.legend {
            display: block;
            margin: 0.5em 0;
            text-decoration: underline;
        }
        .mainContent ul li {
            margin-bottom: 1em;
        }
        .mainContent li.subset {
            border: 1px solid silver;
            padding: 0.5em;
            clear: both;
        }
        .mainContent li.subset ul {
            padding: 0em;
        }
        .mainContent li.subset .odd {
            background-color: #F4F9FD;
        }
        .mainContent li.subset ul.vcard {
            float: left;
            width: 33%;
            margin: 1.5em 0 1em;
        }
        div.title {
          margin-left: 1%;
          border: 4px solid #CCC;
          border-radius: 16px;
          -moz-border-radius: 16px;
          -webkit-border-radius: 16px;
          margin-bottom: 2em;
          background: #EEE;
          overflow: hidden;
          padding: 0;
          width: 31%;
          float: left;
        }

        div.title h2 {
          color: #CCC;
          font-size: 18pt;
          line-height: 54pt;
          margin-top: -16px;
          margin-right: 10px;
          font-variant: small-caps;
          letter-spacing: -1pt;
          text-align: right;
        }

        html > body div.title h2 {
          margin-bottom: -30pt;
        }

        div.title p {
          margin-left: 14pt;
          line-height: 200%;
          margin-right: 14pt;
        }
    </style>
    <p><span class="label">{% trans 'Scientific Title' %}</span>:</p>
        <div class="title">
            <h2>en</h2>
            <p>{{ object.scientific_title }}</p>
        </div>
        {% for t in translations %}
            {% if t.scientific_title %}
            <div class="title">
                <h2>{{ t.language }}</h2>
                <p>{{ t.scientific_title }}</p>
            </div>
            {% endif %}
        {% endfor %}
        <div class="spacer"> </div>
    <h3>{% trans 'Trial Identification' %}</h3>
    <ul>
        <li>
            <span class="label">{% trans 'Scientific Acronym' %}:</span>
            <span class="value">{{ object.scientific_acronym_display }}</span>
        </li>
        <li>
            <span class="label">{% trans 'Public Title' %}:</span>
            <span class="value">{{ object.public_title }}</span>
        </li>
        <li>
            <span class="label">{% trans 'Public Acronym' %}:</span>
            <span class="value">{{ object.acronym_display }}</span>
        </li>
        <li class="subset">
            {% for secid in object.trial_number %}
            <ul class="{% cycle 'even' 'odd' %}">
                <li>
                    <span class="label">{% trans 'Secondary Identifying Numbers' %}:</span>
                    <span class="value">{{ secid.id_number }}</span>
                </li>
                <li>
                    <span class="label">{% trans 'Issuing Authority' %}:</span>
                    <span class="value">{{ secid.issuing_authority }}</span>
                </li>
            </ul>
            {% endfor %}
        </li>
        {% if perms.reviewapp.add_remark %}
        <li><a class="button addNew" href="{% url reviewapp.openremark object.submission.id 'Trial Identification'|slugify %}">{% trans 'Remark' %}</a></li>
        {% endif %}
    </ul>

    <h3>{% trans 'Sponsors' %}</h3>
    <ul>
        <li>
            <span class="label">{% trans 'Primary Sponsor' %}:</span>
            <span class="value">{{ object.primary_sponsor }}</span>
        </li>
        {% if object.secondary_sponsors %}
        <li>
            <span class="label">{% trans 'Secondary Sponsors' %}</span>
            <ul>
            {%  for sponsors in object.secondary_sponsors %}
                <li class="{% cycle 'even' 'odd' %}">
                    <span class="label">{% trans 'Institution' %}:</span>
                    <span class="value">{{ sponsors.institution }}</span>
                </li>
            {% endfor %}
            </ul>
        </li>
        {% endif %}
        <li class="subset">
            <span class="legend">{% trans 'Source(s) of Monetary or Material Support' %}</span>
            <ul>
            {%  for source_support in object.support_sources %}
                <li class="{% cycle 'even' 'odd' %}">
                    <span class="label">{% trans 'Institution' %}:</span>
                    <span class="value">{{ source_support.institution }}</span>
                </li>
            {% endfor %}
            </ul>
        </li>
        {% if perms.reviewapp.add_remark %}
        <li><a class="button addNew" href="{% url reviewapp.openremark object.submission.id 'Sponsors'|slugify %}">{% trans 'Remark' %}</a></li>
        {% endif %}
    </ul>
    
    <h3>{% trans 'Health Conditions' %}</h3>
    <ul>
        <li>
            <span class="label">{% trans 'Health Condition(s) or Problem(s)' %}:</span>
            <pre class="value">{{ object.hc_freetext }}</pre>
        </li>
        <li class="subset">
            <span class="legend">{% trans 'General Descriptors for Health Condition(s)' %}</span>
            <ul>
            {% for hc in object.hc_code %}
                <li>
                    <span class="label">{{ hc.code }}:</span>
                    <span class="value">{{ hc.text }}</span>
                </li>
            {% endfor %}
            </ul>
        </li>
        <li class="subset">
            <span class="legend">{% trans 'Specific Descriptors for Health Condition(s)' %}</span>
            <ul>
            {% for hc in object.hc_keyword %}
                <li>
                    <span class="label">{{ hc.code }}:</span>
                    <span class="value">{{ hc.text }}</span>
                </li>
            {% endfor %}
            </ul>
        </li>
        {% if perms.reviewapp.add_remark %}
        <li><a class="button addNew" href="{% url reviewapp.openremark object.submission.id 'Health Conditions'|slugify %}">{% trans 'Remark' %}</a></li>
        {% endif %}
    </ul>
    
    <h3>{% trans 'Interventions' %}</h3>
    <ul>
        <li>
            <span class="label">{% trans 'Interventions' %}:</span>
            <pre class="value">{{ object.i_freetext }}</pre>
        </li>
        <li class="subset">
            <span class="legend">{% trans 'Intervention Code(s)' %}</span>
            <ul>
            {% for iv in object.intervention_code %}
                <li>
                    <span class="label">{{ iv.label }}:</span>
                    <span class="value">{{ iv.description }}</span>
                </li>
            {% endfor %}
            </ul>
        </li>
        <li class="subset">
            <span class="legend">{% trans 'Descriptor for Intervention(s)' %}</span>
            <ul>
            {% for iv in object.intervention_keyword %}
                <li>
                    <span class="label">{{ iv.code }}:</span>
                    <span class="value">{{ iv.text }}</span>
                </li>
            {% endfor %}
            </ul>
        </li>
        {% if perms.reviewapp.add_remark %}
        <li><a class="button addNew" href="{% url reviewapp.openremark object.submission.id 'Interventions'|slugify %}">{% trans 'Remark' %}</a></li>
        {% endif %}
    </ul>
    
    <h3>{% trans 'Recruitment' %}</h3>
    <ul>
        <li>
            <span class="label">{% trans 'Recruitment Status' %}:</span>
            <span class="value">{{ object.recruitment_status }}</span>
        </li>
        <li class="subset">
            <span class="legend">{% trans 'Recruitment Country' %}</span>
            <ul>
            {% for recruitment in object.trial_recruitment_country %}
                <li>{{ recruitment.description }}{% if not forloop.last %}, {% endif %}</li>
            {% endfor %}
            </ul>
        </li>
        <li>
            <span class="label">{% trans 'Planned Date of First Enrollment' %}:</span>
            <span class="value">{{ object.enrollment_start_planned }}</span>
        </li>
        <li>
            <table class="dataTable">
                <tr>
                    <th>{% trans 'Target Sample Size' %}:</th>
                    <th>{% trans 'Gender (inclusion sex)' %}:</th>
                    <th>{% trans 'Inclusion Minimum Age' %}:</th>
                    <th>{% trans 'Inclusion Maximum Age' %}:</th>
                </tr>
                <tr>
                    <td>{{ object.target_sample_size }}</td>
                    <td>{{ object.gender }}</td>
                    <td>{{ object.agemin_value }} {{ object.agemin_unit }}</td>
                    <td>{{ object.agemax_value }} {{ object.agemax_unit }}</td>
                </tr>
            </table>
        </li>
        <li>
            <span class="label">{% trans 'Inclusion Criteria' %}:</span>
            <pre class="value">{{ object.inclusion_criteria }}</pre>
        </li>
        <li>
            <span class="label">{% trans 'Exclusion Criteria' %}:</span>
            <pre class="value">{{ object.exclusion_criteria }}</pre>
        </li>
        {% if perms.reviewapp.add_remark %}  
        <li><a class="button addNew" href="{% url reviewapp.openremark object.submission.id 'Recruitment'|slugify %}">{% trans 'Remark' %}</a></li>
        {% endif %}
    </ul>

    <h3>{% trans 'Study Type' %}</h3>
    <ul>
        <li>
            <span class="label">{% trans 'Study Design' %}:</span>
            <pre class="value">{{ object.study_design }}</pre>
        </li>
        <li>
            <table class="dataTable">
                <tr>
                    <th><span class="label">{% trans 'Expanded access program' %}</span></th>
                    <th><span class="label">{% trans 'Study Purpose' %}</span></th>
                    <th><span class="label">{% trans 'Intervention Assignment' %}</span></th>
                    <th><span class="label">{% trans 'Number of arms' %}</span></th>
                    <th><span class="label">{% trans 'Masking type' %}</span></th>
                    <th><span class="label">{% trans 'Allocation type' %}</span></th>
                    <th><span class="label">{% trans 'Study Phase' %}</span></th>
                </tr>
                <tr>
                    <td><span class="value">{{ object.expanded_access_program }}</span></td>
                    <td><span class="value">{{ object.purpose }}</span></td>
                    <td><span class="value">{{ object.intervention_assignment }}</span></td>
                    <td><span class="value">{{ object.number_of_arms }}</span></td>
                    <td><span class="value">{{ object.masking }}</span></td>
                    <td><span class="value">{{ object.allocation }}</span></td>
                    <td><span class="value">{{ object.phase }}</span></td>
                </tr>
            </table>
        </li>
        {% if perms.reviewapp.add_remark %}   
        <li><a class="button addNew" href="{% url reviewapp.openremark object.submission.id 'Study Type'|slugify %}">{% trans 'Remark' %}</a></li>
        {% endif %}
    </ul>
    
    <h3>{% trans 'Outcomes' %}</h3>
    <ul>
        <li class="subset">
            <span class="legend">{% trans 'Primary Outcomes' %}</span>
            <ul>
            {% for outcomes in object.primary_outcomes %}
                <li style="background-color: #ddffdd; padding: 10px;">
                    {{ forloop.counter }} - {{ outcomes.description }}
                </li>
            {% endfor %}
            </ul>
        </li>
        <li class="subset">
            <span class="legend">{% trans 'Secondary Outcomes' %}</span>
            <ul>
            {% for outcomes in object.secondary_outcomes %}
                <li style="background-color: #ddffdd; padding: 10px;">
                    {{ forloop.counter }} - {{ outcomes.description }}
                </li>
            {% endfor %}
            </ul>
        </li>
        {% if perms.reviewapp.add_remark %}
        <li><a class="button addNew" href="{% url reviewapp.openremark object.submission.id 'Outcomes'|slugify %}">{% trans 'Remark' %}</a></li>
        {% endif %}
    </ul>
    
    <h3>{% trans 'Contacts' %}</h3>
    <ul>
        {% if object.public_contacts %}
        <li class="subset">
            <span class="legend">{% trans 'Contacts for Public Queries' %}</span>
            {% for contact in object.public_contacts %}
            <ul class="vcard">
                <li>
                    <b>{% trans 'Full Name' %}:</b>
                    <span class="fn">{{ contact.firstname }} {{ contact.middlename }} {{ contact.lastname }}</span>
                </li>
                <li>
                    <ul class="adr">
                        <li>
                            <b>{% trans 'Address' %}:</b>
                            <span class="street-address">{{ contact.address }}</span>
                        </li>
                        <li>
                            <b>{% trans 'City' %}: </b>
                            <span><span class="locality">{{ contact.city }}</span> / <span class="country-name">{{ contact.country }}</span></span>
                        </li>
                        <li>
                            <b>{% trans 'Zip Code' %}:</b>
                            <span class="postal-code">{{ contact.zip }}</span>
                        </li>
                    </ul>
                </li>
                <li>
                    <b>{% trans 'Telephone' %}:</b>
                    <span class="tel">{{ contact.telephone }}</span>
                </li>
                <li>
                    <b>E-mail:</b>
                    <span class="email">{{ contact.email }}</span>
                </li>
                <li>
                    <b>{% trans 'Affiliation' %}:</b>
                    <span class="org">{{ contact.affiliation }}</span>
                </li>
            </ul>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                <hr class="spacer" size="1"/>
            {% endif %}
            {% if forloop.last %}
                <div class="spacer">&nbsp;</div>
            {% endif %}
            {% endfor %}
        </li>
        {% endif %}
        
        {% if object.scientific_contacts %}
        <li class="subset">
            <span class="legend">{% trans 'Contacts for Scientific Queries' %}</span>
            {% for contact in object.scientific_contacts %}
            <ul class="vcard">
                <li>
                    <b>{% trans 'Full Name' %}:</b>
                    <span class="fn">{{ contact.firstname }} {{ contact.middlename }} {{ contact.lastname }}</span>
                </li>
                <li>
                    <ul class="adr">
                        <li>
                            <b>{% trans 'Address' %}:</b>
                            <span class="street-address">{{ contact.address }}</span>
                        </li>
                        <li>
                            <b>{% trans 'City' %}: </b>
                            <span><span class="locality">{{ contact.city }}</span> / <span class="country-name">{{ contact.country }}</span></span>
                        </li>
                        <li>
                            <b>{% trans 'Zip Code' %}:</b>
                            <span class="postal-code">{{ contact.zip }}</span>
                        </li>
                    </ul>
                </li>
                <li>
                    <b>{% trans 'Telephone' %}:</b>
                    <span class="tel">{{ contact.telephone }}</span>
                </li>
                <li>
                    <b>E-mail:</b>
                    <span class="email">{{ contact.email }}</span>
                </li>
                <li>
                    <b>{% trans 'Affiliation' %}:</b>
                    <span class="org">{{ contact.affiliation }}</span>
                </li>
            </ul>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                <hr class="spacer" size="1"/>
            {% endif %}
            {% if forloop.last %}
                <div class="spacer">&nbsp;</div>
            {% endif %}
            {% endfor %}
        </li>
        {% endif %}


        {% if object.site_contacts %}
        <li class="subset">
            <span class="legend">{% trans 'Contact(s) for Site Queries' %}</span>
            {% for contact in object.site_contacts %}
            <ul class="vcard">
                <li>
                    <b>{% trans 'Full Name' %}:</b>
                    <span class="fn">{{ contact.firstname }} {{ contact.middlename }} {{ contact.lastname }}</span>
                </li>
                <li>
                    <ul class="adr">
                        <li>
                            <b>{% trans 'Address' %}:</b>
                            <span class="street-address">{{ contact.address }}</span>
                        </li>
                        <li>
                            <b>{% trans 'City' %}: </b>
                            <span><span class="locality">{{ contact.city }}</span> / <span class="country-name">{{ contact.country }}</span></span>
                        </li>
                        <li>
                            <b>{% trans 'Zip Code' %}:</b>
                            <span class="postal-code">{{ contact.zip }}</span>
                        </li>
                    </ul>
                </li>
                <li>
                    <b>{% trans 'Telephone' %}:</b>
                    <span class="tel">{{ contact.telephone }}</span>
                </li>
                <li>
                    <b>E-mail:</b>
                    <span class="email">{{ contact.email }}</span>
                </li>
                <li>
                    <b>{% trans 'Affiliation' %}:</b>
                    <span class="org">{{ contact.affiliation }}</span>
                </li>
            </ul>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                <hr class="spacer" size="1"/>
            {% endif %}
            {% if forloop.last %}
                <div class="spacer">&nbsp;</div>
            {% endif %}
            {% endfor %}
        </li>
        {% endif %}
        {% if perms.reviewapp.add_remark %}
        <li><a class="button addNew" href="{% url reviewapp.openremark object.submission.id 'Contacts'|slugify %}">{% trans 'Remark' %}</a></li>
        {% endif %}
    </ul>

    {% if object.trial_attach %}
    <h3>{% trans 'Attachments' %}</h3>
    <ul>
        {%  for attach in object.trial_attach %}
            {% if attach.public %}
                <li>
                <a href="http://{{host}}{{attach.get_relative_url}}">
                http://{{host}}{{attach.get_relative_url}}</a>
                ({{ attach.description }})
                </li>
            {% endif %}
        {% endfor %}
        {% if perms.reviewapp.add_remark %}
        <li><a class="button addNew" href="{% url reviewapp.openremark object.submission.id 'Attachments'|slugify %}">{% trans 'Remark' %}</a></li>
        {% endif %}
    </ul>
    {% endif %}
{% endblock %}
