{% extends "base.html" %}

{% load i18n %}

{% block body_title %}{% trans 'Clinical Trial' %}{% endblock %}

{% block body %}
    <h2>{{ object.very_short_title }}</h2>

    <h3>{% trans 'Trial Identification' %}</h3>

    <style type="text/css">
        span.label {
            font-weight: bold;
        }

        .mainContent ul li {
            margin-bottom: 1em;
        }
        .mainContent li.subset {
            border: 1px solid silver;
        }
        .mainContent li.subset ul {
            padding: 0.5em;
        }

        .mainContent li.subset ul.odd {
            background-color: #F4F9FD;
        }
    </style>

    <ul>
        <li>
            <span class="label">{% trans 'Scientific Title' %}</span>:
            <span class="value">{{ object.scientific_title }}</span>
        </li>
        <li>
            <span class="label">{% trans 'Scientific Acronym' %}</span>:
            <span class="value">{{ object.scientific_acronym_display }}</span>
        </li>
        <li>
            <span class="label">{% trans 'Public Title' %}</span>:
            <span class="value">{{ object.public_title }}</span>
        </li>
        <li>
            <span class="label">{% trans 'Public Acronym' %}</span>:
            <span class="value">{{ object.acronym_display }}</span>
        </li>
        <li class="subset">
            {% for secid in object.trial_number %}
            <ul class="{% cycle 'even' 'odd' %}">
                <li>
                    <span class="label">{% trans 'Secondary Identifying Numbers' %}</span>:
                    <span class="value">{{ secid.id_number }}</span>
                </li>
                <li>
                    <span class="label">{% trans 'Issuing Authority' %}</span>:
                    <span class="value">{{ secid.issuing_authority }}</span>
                </li>
            </ul>
            {% endfor %}
        </li>
        <li><a class="button addNew" href="{% url reviewapp.openremark object.submission.id 'Trial Identification' %}">{% trans 'Remark' %}</a></li>
    </ul>

    <h3>{% trans 'Sponsors' %}</h3>
    <table class="table">
        <tbody>
            <tr>
                <td><span style="font-weight: bold;">{% trans 'Primary Sponsor' %}:</span> 
                {{ object.primary_sponsor }}</td>
            </tr>
            {% if object.secondary_sponsors %}
            <tr>
                <td>
                <fieldset>
                <legend>{% trans 'Secondary Sponsors' %}</legend>
                <table border="0">
                {%  for sponsors in object.secondary_sponsors %}
                    <tr><td>
                    <span style="font-weight: bold;">{% trans 'Institution' %}:</span> 
                    {{ sponsors.institution }} 
                    </td></tr>
                {% endfor %}
                </table>
                </fieldset>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>
                <fieldset>
                <legend>{% trans 'Source(s) of Monetary or Material Support' %}</legend>
                <table border="0">
                {%  for source_support in object.support_sources %}
                    <tr><td>
                    <span style="font-weight: bold;">{% trans 'Institution' %}:</span> 
                    {{ source_support.institution }} 
                    </td></tr>
                {% endfor %}
                </table>
                </fieldset>
                </td>
            </tr>
        </tbody>
    </table>
    
    <h3>{% trans 'Health Conditions' %}</h3>
    <table class="table">
        <tbody>
            <tr>
                <td><span style="font-weight: bold;">
                {% trans 'Health Condition(s) or Problem(s)' %}:</span> 
                {{ object.hc_freetext|linebreaks }}
                </td>
            </tr>
            <tr>
                <td>
                <fieldset>
                <legend>{% trans 'General Descriptors for Health Condition(s)' %}</legend>
                <table border="0">
                {% for hc in object.hc_code %}
                    <tr><td>
                    <span style="font-weight: bold;">{{ hc.code }}:</span> {{ hc.text }}
                    </td></tr>
                {% endfor %}
                </table>
                </fieldset>
                </td>
            </tr>
            <tr>
                <td>
                <fieldset>
                <legend>{% trans 'Specific Descriptors for Health Condition(s)' %}</legend>
                <table border="0">
                {% for hc in object.hc_keyword %}
                    <tr><td>
                    <span style="font-weight: bold;">{{ hc.code }}:</span> {{ hc.text }}
                    </td></tr>
                {% endfor %}
                </table>
                </fieldset>
                </td>
            </tr>
        </tbody>
    </table>
    
    <h3>{% trans 'Interventions' %}</h3>
    <table class="table">
        <tbody>
            <tr>
                <td><span style="font-weight: bold;">{% trans 'Interventions' %}:</span> 
                {{ object.i_freetext|linebreaks }}</td>
            </tr>
            <tr>
                <td>
                <fieldset>
                <legend>{% trans 'Intervention Code(s)' %}</legend>
                <table border="0">
                {% for iv in object.intervention_code %}
                    <tr><td>
                    <span style="font-weight: bold;">{{ iv.label }}:</span> {{ iv.description }}
                    </td></tr>
                {% endfor %}
                </table>
                </fieldset>
                </td>
            </tr>
            <tr>
                <td>
                <fieldset>
                <legend>{% trans 'Descriptor for Intervention(s)' %}</legend>
                <table border="0">
                {% for iv in object.intervention_keyword %}
                    <tr><td>
                    <span style="font-weight: bold;">{{ iv.code }}:</span> {{ iv.text }}
                    </td></tr>
                {% endfor %}
                </table>
                </fieldset>
                </td>
            </tr>
        </tbody>
    </table>
    
    <h3>{% trans 'Recruitment' %}</h3>
    <table class="table">
        <tbody>
            <tr>
                <td><span style="font-weight: bold;">{% trans 'Recruitment Status' %}:</span> 
                {{ object.recruitment_status }}</td>
            </tr>
            <tr>
                <td>
                <fieldset>
                <legend>{% trans 'Recruitment Country' %}</legend>
                <table border="0"><tr><td>
                {% for recruitment in object.trial_recruitment_country %}
                    {{ recruitment.description }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </td></tr></table>
                </fieldset>
                </td>
            </tr>
            <tr>
                <td>
                <span style="font-weight: bold;">
                    {% trans 'Planned Date of First Enrollment' %}:
                </span> {{ object.enrollment_start_planned }}</td>
            </tr>
            <tr>
                <td>
                    <table border="0">
                    <tr>
                        <th>
                        <span style="font-weight: bold;">{% trans 'Target Sample Size' %}
                        </th>
                        <th>
                        <span style="font-weight: bold;">{% trans 'Gender (inclusion sex)' %}</span> 
                        </th>
                        <th>
                        <span style="font-weight: bold;">{% trans 'Inclusion Minimum Age' %}</span> 
                        </th>
                        <th>
                        <span style="font-weight: bold;">{% trans 'Inclusion Maximum Age' %}</span> 
                        </th>
                    </tr>
                    <tr style="text-align: center;">
                        <td>
                        {{ object.target_sample_size }}
                        </td>
                        <td>
                        {{ object.gender }}
                        </td>
                        <td>
                        {{ object.agemin_value }} {{ object.agemin_unit }}
                        </td>
                        <td>
                        {{ object.agemax_value }} {{ object.agemax_unit }}
                        </td>
                    <tr/>
                    </table>
                </td>
            </tr>
            <tr>
                <td><span style="font-weight: bold;">{% trans 'Inclusion Criteria' %}:</span> 
                {{ object.inclusion_criteria|linebreaks }}</td>
            </tr>
            <tr>
                <td><span style="font-weight: bold;">{% trans 'Exclusion Criteria' %}:</span> 
                {{ object.exclusion_criteria|linebreaks }}</td>
            </tr>
        </tbody>
    </table>
    
    <h3>{% trans 'Study Type' %}</h3>
    <table class="table">
        <tbody>
            <tr>
                <td><span style="font-weight: bold;">{% trans 'Study Design' %}:</span> 
                {{ object.study_design|linebreaks }}</td>
            </tr>
            <tr>
                <td>
                    <table border="0">
                    <tr>
                        <th>
                        <span style="font-weight: bold;">{% trans 'Expanded access program' %}
                        </th>
                        <th>
                        <span style="font-weight: bold;">{% trans 'Study Purpose' %}
                        </th>
                        <th>
                        <span style="font-weight: bold;">{% trans 'Intervention Assignment' %}</span> 
                        </th>
                        <th>
                        <span style="font-weight: bold;">{% trans 'Number of arms' %}</span> 
                        </th>
                        <th>
                        <span style="font-weight: bold;">{% trans 'Masking type' %}</span> 
                        </th>
                        <th>
                        <span style="font-weight: bold;">{% trans 'Allocation type' %}</span> 
                        </th>
                        <th>
                        <span style="font-weight: bold;">{% trans 'Study Phase' %}</span> 
                        </th>
                    </tr>
                    <tr style="text-align: center;">
                        <td>
                        {{ object.expanded_access_program }}
                        </td>
                        <td>
                        {{ object.purpose }}
                        </td>
                        <td>
                        {{ object.intervention_assignment }}
                        </td>
                        <td>
                        {{ object.number_of_arms }}
                        </td>
                        <td>
                        {{ object.masking }}
                        </td>
                        <td>
                        {{ object.allocation }}
                        </td>
                        <td>
                        {{ object.phase }}
                        </td>
                    <tr/>
                    </table>
                </td>
            </tr>

        </tbody>
    </table>
    
    <h3>{% trans 'Outcomes' %}</h3>
    <table class="table">
        <tbody>
            <tr>
                <td>
                <fieldset>
                <legend>{% trans 'Primary Outcomes' %}</legend>
                <table border="0" width="100%">
                {% for outcomes in object.primary_outcomes %}
                    <tr><td>
                    <div style="background-color: #ddffdd; padding: 10px;">
                    {{ forloop.counter }} - {{ outcomes.description }}
                    </div>
                    </td></tr>
                {% endfor %}
                </table>
                </fieldset>
                </td>
            </tr>
            <tr>
                <td>
                <fieldset>
                <legend>{% trans 'Secondary Outcomes' %}</legend>
                <table border="0" width="100%">
                {% for outcomes in object.secondary_outcomes %}
                    <tr><td>
                    <div style="background-color: #ddffdd; padding: 10px;">
                    {{ forloop.counter }} - {{ outcomes.description }}
                    </div>
                    </td></tr>
                {% endfor %}
                </table>
                </fieldset>
                </td>
            </tr>
        </tbody>
    </table>
    
    <h3>{% trans 'Contacts' %}</h3>
    <table class="table">
        <tbody>
            {% if object.public_contacts %}
            <tr>
                <td>
                <fieldset>
                <legend>{% trans 'Contacts for Public Queries' %}</legend>
                <table border="0" width="100%"><tr>
                {% for contact in object.public_contacts %}
                    <td>
                    <span style="font-weight: bold;">{% trans 'Full Name' %}: </span>
                    {{ contaobject.firstname }} {{ contaobject.middlename }} {{ contaobject.lastname }} <br />
                    <span style="font-weight: bold;">{% trans 'Address' %}: </span>
                    {{ contaobject.address }} <br />
                    <span style="font-weight: bold;">{% trans 'City' %}: </span>
                    {{ contaobject.city }} {{ contaobject.country }} <br />
                    <span style="font-weight: bold;">{% trans 'Zip Code' %}: </span>
                    {{ contaobject.zip }} <br />
                    <span style="font-weight: bold;">{% trans 'Telephone' %}: </span>
                    {{ contaobject.telephone }} <br />
                    <span style="font-weight: bold;">E-mail: </span>
                    {{ contaobject.email }} <br />
                    <span style="font-weight: bold;">{% trans 'Affiliation' %}: </span>
                    {{ contaobject.affiliation }} <br />
                    </td>
                    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
                        </tr><tr>
                    {% endif %}
                {% endfor %}
                </tr>
                </table>
                </fieldset>
                </td>
            </tr>
            {% endif %}
            {% if object.scientific_contacts %}
            <tr>
                <td>
                <fieldset>
                <legend>{% trans 'Contacts for Scientific Queries' %}</legend>
                <table border="0" width="100%"><tr>
                {% for contact in object.scientific_contacts %}
                    <td>
                    <span style="font-weight: bold;">{% trans 'Full Name' %}: </span>
                    {{ contaobject.firstname }} {{ contaobject.middlename }} {{ contaobject.lastname }} <br />
                    <span style="font-weight: bold;">{% trans 'Address' %}: </span>
                    {{ contaobject.address }} <br />
                    <span style="font-weight: bold;">{% trans 'City' %}: </span>
                    {{ contaobject.city }} {{ contaobject.country }} <br />
                    <span style="font-weight: bold;">{% trans 'Zip Code' %}: </span>
                    {{ contaobject.zip }} <br />
                    <span style="font-weight: bold;">{% trans 'Telephone' %}: </span>
                    {{ contaobject.telephone }} <br />
                    <span style="font-weight: bold;">E-mail: </span>
                    {{ contaobject.email }} <br />
                    <span style="font-weight: bold;">{% trans 'Affiliation' %}: </span>
                    {{ contaobject.affiliation }} <br />
                    </td>
                    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
                        </tr><tr>
                    {% endif %}
                {% endfor %}
                </tr>
                </table>
                </fieldset>
                </td>
            </tr>
            {% endif %}
            {% if object.site_contacts %}
            <tr>
                <td>
                <fieldset>
                <legend>{% trans 'Contact(s) for Site Queries' %}</legend>
                <table border="0" width="100%"><tr>
                {% for contact in object.site_contacts %}
                    <td>
                    <span style="font-weight: bold;">{% trans 'Full Name' %}: </span>
                    {{ contaobject.firstname }} {{ contaobject.middlename }} {{ contaobject.lastname }} <br />
                    <span style="font-weight: bold;">{% trans 'Address' %}: </span>
                    {{ contaobject.address }} <br />
                    <span style="font-weight: bold;">{% trans 'City' %}: </span>
                    {{ contaobject.city }} {{ contaobject.country }} <br />
                    <span style="font-weight: bold;">{% trans 'Zip Code' %}: </span>
                    {{ contaobject.zip }} <br />
                    <span style="font-weight: bold;">{% trans 'Telephone' %}: </span>
                    {{ contaobject.telephone }} <br />
                    <span style="font-weight: bold;">E-mail: </span>
                    {{ contaobject.email }} <br />
                    <span style="font-weight: bold;">{% trans 'Affiliation' %}: </span>
                    {{ contaobject.affiliation }} <br />
                    </td>
                    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
                        </tr><tr>
                    {% endif %}
                {% endfor %}
                </tr>
                </table>
                </fieldset>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    
    <h3>{% trans 'Attachments' %}</h3>
    <table class="table">
        <tbody>
            <tr>
                <td>
                <fieldset>
                <legend>{% trans 'Files' %}</legend>
                <table border="0">
                {%  for attach in object.trial_attach %}
                    {% if attach.public %}
                        <tr><td>
                        <a href="http://{{host}}{{attach.get_relative_url}}">
                        http://{{host}}{{attach.get_relative_url}}</a> 
                        ({{ attach.description }})
                        </td></tr>
                    {% endif %}
                {% endfor %}
                </table>
                </fieldset>
                </td>
            </tr>
        </tbody>
    </table>
    
{% endblock %}
