<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{{ form.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/jquery.cluetip.css"/>
        
        <style type="text/css">
            fieldset  {
                margin: 2em;
            }
            form table.dataTable th {
                width: 25%;
            }
        </style>
        
        <script type="text/javascript" src="{{ JQUERY_URL }}"></script>
        <script type="text/javascript" src="{{ JQUERY_UI_URL }}"></script>
        <script type="text/javascript" src="/static/js/jquery.cluetip.min.js" type="text/javascript"></script>

        <script type="text/javascript">
            function new_institution(){
                var target = document.location.toString();
                if(target.match('#')){
                    target = target.split('#')[1];
                }
                
                if(target==='new_contact'){
                    new_institution_contact(target);
                }else{
                    new_institution_sponsors(target);
                }
            }

            function new_institution_sponsors(target){
                var data = '', op = '';
                $('form *[name]').each(function(){data+=op+this.name+'='+this.value;op='&';});
                $.post(
                    $('form').attr('action'),
                    data,
                    function(data, ts, xmlhttp){
                        if(data.match(/<[a-z]+[^>]+>/)){
                            $("table.dataTable").html(data);
                        }else {
                            data=$.parseJSON(data);
                            opener.$('select').each(function(){
                                var newoption = $('<option>').attr('value',data[0].pk).html(data[0].fields.name);
                                $(this).append(newoption);
                            });
                            var total = opener.$("div."+target+" select").length;
                            var targetSel = opener.$('#id_'+target+'-'+(total-1)+'-institution')[0];
                            if(targetSel.selectedIndex === 0){
                                targetSel.selectedIndex = $(targetSel).find("option").length-1;
                            }else{
                                opener.cloneMore('div.'+target+' table:last',target);
                                targetSel = opener.$('#id_'+target+'-'+total+'-institution')[0];
                                targetSel.selectedIndex = $(targetSel).find("option").length-1;
                            }
                            window.close();
                        }
                    },
                    'text'
                );
            }
            
            function new_institution_contact(target){
                var data = '', op = '';
                $('form *[name]').each(function(){data+=op+this.name+'='+this.value;op='&';});
                $.post(
                    $('form').attr('action'),
                    data,
                    function(data, ts, xmlhttp){
                        if(data.match(/<[a-z]+[^>]+>/)){
                            $("table.dataTable").html(data);
                        } else {
                            data=$.parseJSON(data);
                            opener.$('select[id$=affiliation]').each(function(){
                                var newoption = $('<option>').attr('value',data[0].pk).html(data[0].fields.name);
                                $(this).append(newoption);
                            });
                            var total = opener.$("div."+target+" select[id$=affiliation]").length;
                            var targetSel = opener.$('#id_'+target+'-'+(total-1)+'-affiliation')[0];
                            if(targetSel.selectedIndex === 0){
                                targetSel.selectedIndex = $(targetSel).find("option").length-1;
                            }else{
                                opener.cloneMore('div.'+target+' table:last',target);
                                targetSel = opener.$('#id_'+target+'-'+total+'-affiliation')[0];
                                targetSel.selectedIndex = $(targetSel).find("option").length-1;
                            }
                            window.close();
                        }
                    },
                    'text'
                );
            }

            $(document).ready(function() {
                $('.dataTable th img').cluetip({sticky: true, closePosition: 'title',local:true, cursor: 'pointer'});
            });
        </script>
{% load i18n %}
    </head>
    <body>
        <form action="{% url new_institution %}" method="post" onsubmit="return false;">{% csrf_token %}
            <fieldset>
                <legend>{{ form.title }}</legend>
                <table class="dataTable" cellspacing="0">
                    {{ form.as_table }}
                </table>
                <input type="button" value="{% trans 'Save' %}" onclick="new_institution();"/>
            </fieldset>
        </form>
    </body>
</html>
