{% extends "repository/trial_form.html" %}
{% load i18n %}

{% block extrahead %}
        <link rel="stylesheet" type="text/css" href="/static/css/multilingual.css"/>
        <script type="text/javascript" src="{{MEDIA_URL}}js/multilingual.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/submission.utils.js"></script>

        <script type="text/javascript">
            MULTILINGUAL_FIELDS = {
                available_languages: ['{{ MANAGED_LANGUAGES_LC|join:"','" }}'],
                default_second_language: 'pt-br'
            };
            $(document).ready(function() {
                $("div.form select")
                    .change(search_event(
                            '{% url decs.search lang=LANGUAGE_CODE,term="" %}',
                            '{% trans "Search terms" %}',
                            '{{LANGUAGE_CODE}}'))
                    .each(function(){$(this).change();});
                $('.dataTable th img').cluetip({sticky: true, closePosition: 'title',local:true, cursor: 'pointer'});
            });
        </script>
{% endblock %}

{% block clone_button %}
    <input onclick="cloneMore('div.{{formset.management_form.prefix}} table:last','{{formset.management_form.prefix}}',hide_decs_div)" type="button" value="{% trans 'Add more' %}" />
{% endblock %}
