{% extends "base.html" %}
{% load i18n %}
{% block body_title %}{% trans "Trial Summary" %}{% endblock %}

{% block body %}

<h2>{% trans "Trial Summary" %}</h2>
<table class="table trialsummary">
    <thead>
        <tr>
            <th>{% trans "Part" %}</th>
            <th>{% trans "Form name" %}</th>
            <th>{% trans "Status" %} ({{ submission.language }})</th>
            {% for lang in submission.get_trans_languages %}
                <th>{% trans lang %}</th>
            {% endfor %}    
        </tr>
    </thead>
    {% for link in links %} 
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="{{link.url}}">{{ link.label }}</a></td>
            <td><img src="{{link.icon}}" alt="{{link.msg}}" title="{{link.msg}}"/>&nbsp;&nbsp;{{link.msg}}</td>
            {% for lang in submission.get_trans_languages %}
                <td><img src="{{link.icon}}" alt="{{link.msg}}" title="{{link.msg}}"/>&nbsp;&nbsp;{{link.msg}}</td>
            {% endfor %}    
        </tr>
    {% endfor %}    
</table>
<form name="submit_submission" action="#" method="POST">
  {% csrf_token %}
  <input type="submit" name="submit_submission" value="{% trans "Submit for Review" %}"/>
</form>
{% endblock %}