[buildout]
parts = 
    python
    django
develop = .
extensions = mr.developer
sources = sources
auto-checkout =
    raminel-recipe
#     redis-cache
#     redis-py
extra-paths =
    src/raminel-recipe
#     src/redis-cache
#     src/redis-py
    deps

[sources]
raminel-recipe = git git://github.com/marinho/raminel-recipe.git
# redis-cache = git git://github.com/sebleier/django-redis-cache.git
# redis-py = git http://github.com/andymccurdy/redis-py.git

[python]
recipe = zc.recipe.egg
interpreter = python
eggs =
    mysql-python
    PIL
    south
    lxml
    nose
    django-nose
    django-rosetta
    django-registration
    django-reversion
    django-plus

[django]
recipe = raminelrecipe
version = trunk
project = opentrials
settings = settings
wsgi = true
extra-paths = ${buildout:extra-paths}
eggs = ${python:eggs}
testrunner = django_nose.NoseTestSuiteRunner
test =
    vocabulary
    repository
    reviewapp
    tickets
    assistance
    decsclient
    diagnostic
    polyglot

