Mercurial
BeautifulSoup
Django
PIL
hg+http://bitbucket.org/bireme/django-registration
nose
git+git://github.com/mintchaos/django_compressor.git
mysql-python
south
lxml
nose
django-nose
django-rosetta
django-reversion
django-plus
