body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    font: 78% "Verdana", "Arial", "sans-serif";
    background:#cbcbcd;
}

h1, h2, label, legend, #content a {
    color: #296784;
}

/* STYLE for BORDERED MAIN BLOCKS */
#container, #top, #footer, #columns,
.stepmenu-top, .stepmenu-bottom {
    border-color: #D4D4FF;
}

#container {
    margin: 0px;
    padding: 0;
    line-height: 1.7em;
    background: transparent url(/static/bg_header.png) repeat-x scroll 0 0;
}

/*TOP BANNER*/
#top {
    padding: 0;
    margin: 0;
    border-width: 0 0 1px;
    float: left;
    clear: both;
    width: 100%;
    height: 118px;
}


#banner div.logo a {
    text-decoration: none;
    color: #296784;
}
#banner div.logo, #top div.institutions {
    float: left;
    width: 40%;
    margin: 1em 0 0 10%;
}

#banner div.institutions {
    margin-top: 4em;
}

#top div.institutions ul li {
    float: left;
    width: 40%;
    text-align: right;
}

#top div.institutions ul span {
    display: none;
}

#top div.institutions ul li a {
    display: block;
    height: 2em;
}

#top div.institutions ul li.BIREME a {
    background: transparent url(/static/bireme.gif) no-repeat center right;
}

#top div.institutions ul li.FIOCRUZ a {
    background: transparent url(/static/fiocruz.gif) no-repeat center right;
}

#middle {
    background-color: #FFF;
    position: relative;
    float: left;
    width: 100%;
    clear: both;
    overflow: hidden;
}

#columns {
    position: relative;
    width: 100%;
    float: left;
    right: 81%;
    border-width: 0 1px 0 0;
    background:#ebecf0;
}

#rebracmenu, #workarea {
    position: relative;
}

#rebracmenu h2 {
    display: none;
}
/* GROUP STEPS NAVIGATION AND CONTENT */
#workarea {
    float: left;
    left: 100%;
    width: 81%;
}

#rebracmenu {
    float: left;
    width: 16%;
    left: 1%;
}

#rebracmenu #usermenu div {
    padding: 3em;
    border-bottom: 1px dotted #D4D4FF;
    line-height: 100%;
    text-align: center;
}

#rebracmenu #usermenu div * {
    text-transform: capitalize;
    font-weight: bold;
}

#rebracmenu ul {
    list-style-type: none;
    padding-left: 1em;
}

#rebracmenu li {
    text-transform: capitalize;
    margin-bottom: 0.5em;
    border-bottom: 1px dotted #D4D4FF;
}

/* STEPS NAVIGATION*/
.stepmenu {
    background: transparent url(/static/bg_stepmenu.png) repeat-x;
    float: left;
    width: 100%;
    clear: both;
}

.stepmenu ul {
    margin: 0;
    padding: 0 0 0 2em;
    list-style: none;
}

.stepmenu ul li {
    display: block;
    float: left;
    width: 9%;
    border: 1px solid transparent;
    text-align: center;
}

.stepmenu li.current {
    border: 1px inset white;
}

.stepmenu a {
    text-decoration: none;
    text-transform: capitalize;
    color: #0a5172;
    font-weight: bold;
	font-size:11px;
}

.stepmenu li:hover {
    text-decoration: underline;
}

.stepmenu-top {
    border-width: 0 0 1px;
}

.stepmenu-bottom {
    border-width: 1px 0 0;
}

/*MAIN CONTENT*/
#content {
    padding: 10px;
}

#content a:link, #content a:visited {
    text-decoration: none;
    background: inherit;

}

#content a:hover {
    text-decoration: underline;

}

#content h2 {
    padding: 0.2em 0;
}

/*FOOTER*/
#footer {
    clear: both;
    padding: 5px;
    margin-top: 5px;
    border-width: 1px 0 0;
    background:#f3f4f6;
}

#footer a:link, #footer a:visited {

    background: inherit;

}
#footer, #footer a {
color:#666;
}
#footer a{
	text-decoration:underline;
	}
#footer {
font-size:69%;
}
/*TYPOGRAPHY*/
p {
    margin: 20px;
}

blockquote {
    font-weight: bold;
    font-style: italic;
}

table.table {
    border-collapse: collapse;
    border-width: 0 0 1px 1px;
    width: 100%;
}

table.table,
table.table td, table.table th {
    color:#4a4c4e;
}

table.table td, table.table th {
    padding: 10px;
}

table.table th {
    background-color: #F1F4F7;
    color:#333;
}

table.table textarea {
    width: 100%;
}

table.table td.help div.issue {
    display: none;
}

table.trialsummary {
    width: 100%;
}

/* AJAX DeCS Tools */
td div.decstool {
    display: none;
}

td div select {
    display: block;
}

td select,
td div.decstool input {
    width: 80%;
}

td.showdecs div.decstool {
    display: block;
}

.issue{
    font-size:10px;
    color:#5d5d5d;
}

fieldset{
    border: 1px solid #CCC;
    margin-bottom:30px;
}

label{
    font-weight:normal;
}

ul li{
    list-style:none;
}

legend{
    font-weight:bold;
}

#content a.buttonadd {
    background: transparent url(/static/add.png) no-repeat right center;
    padding: 0em 2em 0em 1em;
    border: 1px solid #EBECF0;
}

/* BARRA GOVERNO FEDERAL */
.barra_MSaude {
    width: 100%;
    height: 30px;
    background:#ffcc00;
}

.barra_MSaude .barra1000 {
    width:100%;
    margin: 0 auto;
}
.barra_MSaude .barra1000 .minSaude a {
    width: 152px;
    height: 21px;
    float: left;
    margin: 1px;
    background: url(ms.gif) top left no-repeat;
}
.barra_MSaude .barra1000 .brasilGov a {
    margin: 1px;
    width: 96px;
    height: 21px;
    float: right;
    background: url(brasil.gif) top left no-repeat;
}
.barra_MSaude .barra1000 .minSaude, .barra_MSaude .barra1000 .form  {
    float: left;
}

.barra_MSaude .barra1000 .form {
    margin: 2px 0px 0px 50px;

}
.barra_MSaude .barra1000 .form .pr{
    background: #ffcc00 !important;
    font-size: 10px;
}

.barra_MSaude .barra1000 .brasilGov  {
    float: right;
}
.barra_MSaude .barra1000 DIV a span  {
    display: none;
}
