body {
    height: 100%;
    margin-top: 0px;
    padding: 0;
    text-align: left;
    font: 78% "Verdana", "Arial", "sans-serif";
}

h1, h2, label, legend, #content a {
    color: #005;
}

/* STYLE for BORDERED MAIN BLOCKS */
#container, #top, #footer, #columns,
.stepmenu-top, .stepmenu-bottom {
    border-color: #D4D4FF;
    border-style: solid;
}

#container {
    width: 87%;
    margin: 3px auto 0;
    padding: 0;
    border-width: 1px;
    line-height: 1.7em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: transparent url(/static/bg_header.png) repeat-x scroll 0 0;
}

/*TOP BANNER*/
#top {
    padding: 0;
    margin: 0;
    border-width: 0 0 1px;
    float: left;
    clear: both;
    width: 100%;
}

#top img {
    display: block;
    float: left;
    margin: 4em
}

#top h1 {
    margin: 2.7em 0 0;
    float: left;
}

#middle {
    background-color: #FFF;
    position: relative;
    float: left;
    width: 100%;
    clear: both;
    overflow: hidden;
}

#columns {
    position: relative;
    width: 100%;
    float: left;
    right: 81%;
    border-width: 0 1px 0 0;
}

#rebracmenu, #workarea {
    position: relative;
}

/* GROUP STEPS NAVIGATION AND CONTENT */
#workarea {
    float: left;
    left: 100%;
    width: 81%;
}

#rebracmenu {
    float: left;
    width: 16%;
    left: 1%;
}

#rebracmenu #usermenu div {
    padding: 3em;
    border-bottom: 1px dotted #D4D4FF;
    line-height: 100%;
    text-align: center;
}

#rebracmenu #usermenu div * {
    text-transform: capitalize;
    font-weight: bold;
}

#rebracmenu ul {
    list-style-type: none;
    padding-left: 1em;
}

#rebracmenu li {
    text-transform: capitalize;
    margin-bottom: 0.5em;
    border-bottom: 1px dotted #D4D4FF;
}

/* STEPS NAVIGATION*/
.stepmenu {
    background: transparent url(/static/bg_stepmenu.png) repeat-x;
}
.stepmenu ul {
    margin: 0;
    padding: 0 0 0 2em;
    list-style: none;
}

.stepmenu li {
    display: inline-block;
    width: 9%;
    border: 2px solid transparent;
}

.stepmenu a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-weight: bold;
}

.stepmenu li:hover {
    text-decoration: underline;
}

.stepmenu-top {
    border-width: 0 0 1px;
}

.stepmenu-bottom {
    border-width: 1px 0 0;
}

/*MAIN CONTENT*/
#content {
    padding: 10px;
}

#content a:link, #content a:visited {
    text-decoration: none;
    background: inherit;

}

#content a:hover {
    text-decoration: underline;
    
}

#content h2 {
    padding: 0.2em 0;
    letter-spacing: 0.1em;
}

/*FOOTER*/
#footer {
    clear: both;
    padding: 5px;
    margin-top: 5px;
    border-width: 1px 0 0;
}

#footer a:link, #footer a:visited {
    text-decoration: none;
    background: inherit;

}

/*TYPOGRAPHY*/
p {
    margin: 20px;
}

blockquote {
    font-weight: bold;
    font-style: italic;
}

table.table {
    border-collapse: collapse;
    border-width: 0 0 1px 1px;
}

table.table,
table.table td, table.table th {
    border-color: #375A80;
    border-style: solid;
    border-width: 1px 0px;
}

table.table td, table.table th {
    padding: 10px;
}

table.table th {
    background-color: #F1F4F7;
}