{% extends "repository/submission_step.html" %}
{% load i18n %}
{% block body %}

    <script type="text/javascript">
    function cloneMore(selector, type) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();
        newElement.find(':input').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id});
            if($(this).attr('type')!='hidden')$(this).val('').removeAttr('checked');
        });
        newElement.find('label').each(function() {
            var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
            $(this).attr('for', newFor);
        });
        total++;
        $('#id_' + type + '-TOTAL_FORMS').val(total);
        newElement.css("display","none");
        $(selector).after(newElement);
        newElement.show("fast");
    }
        $(document).ready(function() {
                $("select[multiple]").asmSelect({
                        addItemTarget: 'bottom',
                        animate: true,
                        highlight: true,
                        sortable: true
                });
        });
        // management_form.prefix
    </script>

    <form action="./" method="POST" enctype="multipart/form-data">

            {{ formsets.0.management_form }}
            <fieldset>
            <legend>{{ formsets.0.form.title }}</legend>


            <div class="{{formsets.0.management_form.prefix}}">
            {% for form in formsets.0.forms %}
                <table class="table">
                    <col width="20%"/>
                    <col width="75%"/>
                    <col width="5%"/>
                    {{ form.as_table }}
                </table>
            {% endfor %}
            </div>
            </fieldset>

            {{ formsets.1.management_form }}
            <fieldset>
            <legend>{{ formsets.1.form.title }}</legend>


            <div class="{{formsets.1.management_form.prefix}}">
            {% for form in formsets.1.forms %}
                <table class="table">
                    <col width="20%"/>
                    <col width="75%"/>
                    <col width="5%"/>
                    {{ form.as_table }}
                </table>
            {% endfor %}
            </div>
            <div style="text-align: center">
              <input onclick="cloneMore('div.{{formsets.1.management_form.prefix}} table:last','{{formsets.1.management_form.prefix}}')" type="button" value="add more"/>
            </div>
            </fieldset>


        <br/>

        <input name="submit_go" type="submit" value="{% trans "Save and continue later" %}"/>

        {% if next_form_title %}
        <input name="submit_next" type="submit" value="{% trans "Save and go to" %} '{{next_form_title}}'"/>
        {% endif %}
    </form>

{% endblock %}
