{% extends "repository/submission_step.html" %}
{% load i18n %}
{% block body %}

    <script type="text/javascript">
        $(document).ready(function() {

            $("select[multiple]").asmSelect({
                    addItemTarget: 'bottom',
                    animate: true,
                    highlight: true,
                    sortable: true
            });

            // TODO: Replace absolute path
            $("div.g select")
                .change(getterm_event('{% url decs.getterm lang="en",code="" %}'))
                .each(function(){$(this).change();});

            $("div.s select")
                .change(search_event(
                        '{% url decs.search lang="en",term="" %}',
                        '{% trans "Search terms" %}'))
                .each(function(){$(this).change();});
        });

        function new_institution(){
            return window.open('{% url new_institution %}','n_i','status=0,location=0,height=375');
        }
        // management_form.prefix
    </script>

    <h2>{{ title }}</h2>
    <form action="./" method="POST">
        {% for form in forms %}
        <fieldset>
            <legend>{% firstof form.title form.form.title %}</legend>
            <table class="table">
                <col width="20%"/>
                <col width="75%"/>
                <col width="5%"/>
                {{ form.as_table }}
            </table>
        </fieldset>
        {% endfor %}

        {% for formset in formsets %}
            {{ formset.management_form }}
            <fieldset>
                <legend>{{ formset.form.title }}</legend>


                <div class="{{formset.management_form.prefix}}">
                {% for form in formset.forms %}
                    <table class="table">
                        <col width="20%"/>
                        <col width="75%"/>
                        <col width="5%"/>
                        {{ form.as_table }}
                    </table>
                {% endfor %}
                </div>
                <div style="text-align: center">
                  <input onclick="cloneMore('div.{{formset.management_form.prefix}} table:last','{{formset.management_form.prefix}}')" type="button" value="add more"/>
                  <input onclick="new_institution()" type="button" value="{% trans 'New Institution' %}"/>
                </div>
            </fieldset>
        {% endfor %}

        <br/>

        <input name="submit_go" type="submit" value="{% trans "Save and continue later" %}"/>

        {% if next_form_title %}
        <input name="submit_next" type="submit" value="{% trans "Save and go to" %} '{{next_form_title}}'"/>
        {% endif %}
    </form>

{% endblock %}
