{% extends "base.html" %}
{% load i18n %}
{% block body_title %}{{ forms.form_main.title }}{% endblock %}

{# Last <p > in http://docs.djangoproject.com/en/dev/topics/templates/#id1 #}

{% block stepmenu_top %}
<div class="stepmenu stepmenu-top">
    <ul>
        <li><a href="{% url repository.edittrial trial_pk %}">{% trans "Summary" %}</a></li>
        {% for step,iscurrent in steps %}
        <li{% if iscurrent %} class="current"{% endif %}>
           <a href="{{step}}">{% trans "Part" %} {{forloop.counter}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block stepmenu_bottom %}
<div class="stepmenu stepmenu-bottom">
    <ul>
        <li><a href="{% url repository.edittrial trial_pk %}">{% trans "Summary" %}</a></li>
        {% for step,iscurrent in steps %}
        <li{% if iscurrent %} class="current"{% endif %}>
            <a href="{{step}}">{% trans "Part" %} {{forloop.counter}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
