{% extends "base.html" %}
{% load i18n %}
{% block body %}

<script type="text/javascript">
    //{# From http://stackoverflow.com/questions/501719/dynamically-adding-a-form-to-a-django-formset-with-ajax#669982 */ #}
    function cloneMore(selector, type) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();
        newElement.find(':input').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });
        newElement.find('label').each(function() {
            var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
            $(this).attr('for', newFor);
        });
        total++;
        $('#id_' + type + '-TOTAL_FORMS').val(total);
        newElement.css("display","none");
        $(selector).after(newElement);
        newElement.show("fast");
    }

    $(document).ready(function() {
            $("input#addmore").click(function(){
                cloneMore('table:last','form');
            });
            $("select[multiple]").asmSelect({
                    addItemTarget: 'bottom',
                    animate: true,
                    highlight: true,
                    sortable: false
            });
    });
</script>

<form method="post" action="/accounts/newsubmission/">
    <h2>{% trans "New Submission" %}</h2>
{% for form in forms %}
<fieldset>
    <legend>{{ form.title }}</legend>
    <table id="table_{{ forloop.counter }}">
        {{ form.as_table }}
    </table>
</fieldset>
{% endfor %}

<input name="submit" type="submit" value="{% trans "Submit" %}"/>
</form>

{% endblock %}