{% extends "base_columns.html" %}

{% load i18n %}

{% block body_title %}{% trans 'News' %}{% endblock %}

{% block stepmenu_top %}
    {{ block.super }}
    <big>/ {% trans 'News' %}</big>
{% endblock %}

{% block body %}

<div class="news">

    {% if object_list %}
        <ul>
        {% for object in object_list %}
            <li>
                <small>{{ object.created|date:'d/m/Y - H:i' }}</small> 
                <a class="NewsTitle" title="{{ object.title }}" href="{% url reviewapp.news object.id %}">{{ object.title }}</a>
                <a class="NewsExcerpt" href="{% url reviewapp.news object.id %}">{{ object.short_text }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% trans 'No news have been published.' %}</p>
    {% endif %}
</div>
{% endblock %}
