{% extends "base.html" %}

{% block headline %}User Submissions{% endblock %}

{% block body %}

<h2>Users Submissions</h2>
<table>
    <tr>
        <th>Owner</th>
        <th>Submission Title</th>
        <th>Situation</th>
    </tr>
    {% for submission in object_list %}    
    <tr>
        <td>{{ submission.creator_username }}</td>
        <td><a href="{{submission.get_absolute_url}}">{{ submission.short_title }}</a></td>
        <td>{{ submission.status }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}
