{% extends "base.html" %}
{% load i18n %}
{% block body_title %}{% trans "User Tickets" %}{% endblock %}
{% block body %}
    {% if user_tickets %}
            <table>
                <tr>
                    <th>{% trans "creation date" %}</th>
                    <th>{% trans "context" %}</th>
                    <th>{% trans "type" %}</th>
                    <th>{% trans "subject" %}</th>
                    <th>{% trans "status" %}</th>
                    <th>{% trans "last update" %}</th>
                    <th></th>
                </tr>
            {% for ct in user_tickets %}
            <tr>
                <td>{{ ct.created }}</td>
                <td>{{ ct.context }}</td>
                <td>{{ ct.type }}</td>
                <td>{{ ct.followup_set.latest.subject }}</td>
                <td>{{ ct.followup_set.latest.status }}</td>
                <td>{{ ct.followup_set.latest.iteration_date }}</td>
                <td><a href="/ticket/history/{{ ct.pk }}/">{% trans "view history" %}</a> {% if not ct.is_closed %} | <a href="/ticket/newiteration/{{ ct.pk }}/">{% trans "add iteration" %} {% endif %}</a></td>
            </tr>
            {% endfor %}
            </table>
    {% else %}
            <p>{% trans "Have no open tickets" %}</p>
    {% endif %}

{% endblock %}