{% extends "base.html" %}
{% load i18n %}
{% block body_title %}{% trans "User Tickets" %}{% endblock %}
{% block body %}

    <h2>{% trans "Tickets" %}</h2>

    <div class="actions"><a href="{% url ticket.open 'general' 'task'%}" class="addNew">{% trans 'New Ticket' %}</a></div>
    <table class="dataTable" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Context" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Subject" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Updated" %}</th>
                <th></th>
            </tr>
    {% for ct in user_tickets %}
    <tr class="{% cycle 'even' 'odd' %}">
        <td class="date">{{ ct.created|date:'Y/m/d H:i' }}</td>
        <td>{{ ct.context }}</td>
        <td>{{ ct.type }}</td>
        <td class="subject">{{ ct.followup_set.latest.subject }}</td>
        <td>{{ ct.followup_set.latest.status }}</td>
        <td class="update">{{ ct.followup_set.latest.iteration_date|date:'Y/m/d H:i' }}</td>
        <td>
            <ul>
                <li><a class="history" href="/ticket/history/{{ ct.pk }}/" title="{% trans 'view history' %}"><span>{% trans "view history" %}</span></a></li>
                {% if ct.is_closed or ct.is_resolved %}
                {% else %}
                <li><a class="iteraction" href="/ticket/newiteration/{{ ct.pk }}/" title="{% trans 'add iteration' %}"><span>{% trans "add iteration" %}</span></a></li>
                {% endif %}
            </ul>
        </td>
    </tr>
    {% endfor %}
        </table>

{% endblock %}