{% extends "registry/submission_step.html" %}
{% load i18n %}
{% block body %}

    <script type="text/javascript" src="/static/js/submission.utils.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("select[multiple]").asmSelect({
                    addItemTarget: 'bottom',
                    animate: true,
                    highlight: true,
                    sortable: true
            });

            $("div.g select").change(function() {
                this.parentNode.className = "";
                if(this.value == 'DeCS'){
                    this.parentNode.className = "showdecs";
                    var curset = this.id.match(/_.+\d+/)[0];
                    if($("select#combodecs"+curset).length == 0){
                        $('<div class="decstools" id="decstools'+curset+'">').appendTo(this.parentNode);
                        $.get("/decs/getterm/en/",'',
                            function(data){
                                var select= $('<select id="combodecs'+curset+'">');
                                for(var i=0; i<data.length;i++){
                                    $("<option>").attr("value",data[i].fields.label)
                                        .html(data[i].fields.description)
                                        .appendTo(select);
                                }
                                $(select).change(function(){
                                    $("input#id"+curset+"-code")
                                        .attr("value",this.value);
                                    $("input#id"+curset+"-text")
                                        .attr("value",$(this).find("option[selected]").html());
                                });
                                $("#decstools"+curset).append(select);
                            },
                            "json"
                        );
                    }
                }
            });

            $("div.s select").change(function() {
                this.parentNode.className = "";
                if(this.value == 'DeCS'){
                    this.parentNode.className = "showdecs";
                    var curset = this.id.match(/_.+\d+/)[0];
                    if($("input#searchdecs"+curset).length == 0){
                        $('<div class="decstools" id="decstools'+curset+'">')
                           .appendTo(this.parentNode)
                           .append('<input class="text" type="text" id="searchdecs'+curset+'">');
                        $('<input type="button" value="Ok">').appendTo("div#decstools"+curset)
                            .click(function(){
                                var select = $("select#resultdecs"+curset);
                                if($("select#resultdecs"+curset).length == 0){
                                    select= $('<select id="resultdecs'+curset+'">')
                                        .insertAfter(this);
                                }
                                $(select).html("");
                                $.get("/decs/search/en/"+$("input#searchdecs"+curset).attr("value"),'',
                                    function(data){
                                        for(var i=0; i<data.length;i++){
                                        $("<option>").attr("value",data[i].fields.label)
                                            .html(data[i].fields.description)
                                            .appendTo(select);
                                        }
                                        $(select).change(function(){
                                            $("input#id"+curset+"-code")
                                                .attr("value",this.value);
                                            $("input#id"+curset+"-text")
                                                .attr("value",$(this).find("option[selected]").html());
                                        });
                                    },
                                    'json'
                                );
                            });
                    }
                } else {
                }
            });
        });
        // management_form.prefix
    </script>

    <h2>{{ title }}</h2>

    <form action="./" method="POST">
        {% for form in forms %}
        <fieldset>
            <legend>{% firstof form.title form.form.title %}</legend>
            <table>
                {{ form.as_table }}
            </table>
        </fieldset>
        {% endfor %}

        {% for formset in formsets %}
            {{ formset.management_form }}
            <fieldset>
            <legend>{{ formset.form.title }}</legend>


            <div class="{{formset.management_form.prefix}}">
            {% for form in formset.forms %}
                <table>
                    {{ form.as_table }}
                </table>
            {% endfor %}
            </div>
            <div style="text-align: center">
              <input onclick="cloneMore('div.{{formset.management_form.prefix}} table:last','{{formset.management_form.prefix}}')" type="button" value="add more"/>
            </div>
            </fieldset>
        {% endfor %}

        <br/>

        <input name="submit_go" type="submit" value="{% trans "Save and continue later" %}"/>

        {% if next_form_title %}
        <input name="submit_next" type="submit" value="{% trans "Save and go to" %} '{{next_form_title}}'"/>
        {% endif %}
    </form>

{% endblock %}
