{% extends "registry/submission_step.html" %}
{% load i18n %}
{% block body %}

    <script type="text/javascript">
        $(document).ready(function() {
                $("select[multiple]").asmSelect({
                        addItemTarget: 'bottom',
                        animate: true,
                        highlight: true,
                        sortable: true
                });
        });
    </script>

    <form action="./" method="POST">
        {% for form in forms %}
        <h2>{% firstof form.title form.form.title %}</h2>
        <table>
            {{ form.as_table }}
        </table>
        {% endfor %}

        <input name="submit_go" type="submit" value="{% trans "Save and continue later" %}">

        {% if next_form_title %}
        <input name="submit_next" type="submit" value="{% trans "Save and go to" %} '{{next_form_title}}'">
        {% endif %}
    </form>

{% endblock %}
