{% extends "base.html" %}
{% load i18n %}
{% block body_title %}{{ form.title }}{% endblock %}

{% block body %}

    <form action="./" method="POST">
        <table>
        {{form.as_table}}
        </table>
        <input name="submit" type="submit" 
                     value="{% trans "Save and continue later" %}"><br/>
        
        {% if next_form_title %}
        <input name="submit_next" type="submit"
             value="{% trans "Save and go to" %} '{{next_form_title}}'">
        {% endif %}
    </form>


{% endblock %}
