{% extends "base.html" %}
{% load i18n %}

{% block body %}

<div class="leftCol">
    <div class="submissions">
        <h2>{% trans "Submissions" %}</h2>
        <div class="actions"><a href="{% url reviewapp.new_submission %}" class="button addNew">{% trans 'New Submission' %}</a></div>
        <table class="dataTable" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>{% trans 'Date' %}</th>
                    <th>{% trans 'Title' %}</th>
                    <th>{% trans 'Status' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in user_submissions %}
                <tr class="{% cycle 'even' 'odd' %}">
                    <td class="date">{{ submission.created|date:'Y/m/d H:i' }}</td>
                    <td class="title">
                        <a href="{% url repository.edittrial submission.trial.pk %}">{{ submission.short_title }}</a>
                    </td>
                    <td>{{ submission.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url reviewapp.submissionlist %}" class="button showAll">{% trans 'Show all' %}</a>
    </div>
</div>
<div class="rightCol">
    <div class="tickets">
        <h2>{% trans 'Remarks' %}</h2>
        <table class="dataTable" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Submission" %}</th>
                <th>{% trans "Context" %}</th>
                <th>{% trans "Text" %}</th>
            </tr>
            {% for remark in remarks %}
            <tr class="{% cycle 'even' 'odd' %}">
                <td class="date">{{ remark.created|date:'Y/m/d H:i' }}</td>
                <td class="subject">{{ remark.submission|truncatewords:6 }}</td>
                <td>{{ remark.context }}</td>
                <td>{{ remark.short_text }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url ticket.index %}" class="button showAll">{% trans 'Show all' %}</a>
    </div>
</div>
<div class="spacer">
    &#160;
</div>

{% endblock %}
