{% extends "base_columns.html" %}

{% load i18n %}

{% block extrahead %}
    {% if show_beta_message %}
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/south-street/jquery-ui.css" type="text/css" media="all" />
    <script type="text/javascript">
    $(document).ready(function() {	

        $("#dialog").dialog("destroy");
	
  		  $("#dialog-modal").dialog({
			      modal: true,
            resizable: false,
            width: 400,
            draggable: false,
  		  });
	  });
    </script>
    {% endif %}
{% endblock %}

{% block body %}
    {% if show_beta_message %}
    <div id="dialog-modal" title="{% trans 'Warning: Beta Version' %}" style="display:None;">
	      {{ beta_page.content|safe|linebreaks|urlizetrunc:30 }}
    </div>
    {% endif %}
    
    <div class="news">
    
    {% if page %}
        {{ page.content|safe|linebreaks|urlizetrunc:30 }}
    {% endif %}
    
    <table border="0" cellpading="0" cellspacing="0">
    <tr>
        <td>
            <h2><a title="{% trans 'List all' %}" href="{% url repository.index %}">{% trans 'Registered trials' %}</a></h2>
        </td>
        <td>
            <div class="highlights">
                <ul>
                    <li><a href="{% url reviewapp.new_submission %}" title="{% trans 'New Submission' %}"><img src="/static/images/button_newSubmission.jpg" alt="{% trans 'New Submission' %}"/></a></li>
                </ul>
            </div>
        </td>
    </tr>
    </table>

    {% if clinical_trials %}
        <ul>
        {% for ct in clinical_trials %}
            <li>
                <a class="NewsTitle" href="{% url repository.trial_registered ct.trial_id %}">{{ ct.short_title }}</a>
                <p>
                    <b>{% trans 'Primary Id Number' %}</b>: <a class="pnumber" href="{% url repository.trial_registered ct.trial_id %}">{{ ct.trial_id }}</a><br/>
                </p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% trans 'No clinical trials have been published.' %}</p>
    {% endif %}
    </div>
{% endblock %}
