{% extends "base.html" %}
{% load i18n %}
{% block body %}

<script type="text/javascript">
    $(document).ready(function() {
            $("select[multiple]").asmSelect({
                    addItemTarget: 'bottom',
                    animate: true,
                    highlight: true,
                    sortable: true
            });
    });
</script>

<form method="post" action="/accounts/newsubmission/">
<table>
    <tr><th colspan="2">{% trans "Initial Trial Data" %}</th></tr>
{{initial_form.as_table}}
    <tr><th colspan="2">{% trans "Primary Sponsor" %}</th></tr>
{{sponsor_form.as_table}}
</table>

<input name="submit" type="submit" value="{% trans "Submit" %}">

</form>

{% endblock %}