{% extends "base.html" %}
{% load i18n %}

{% block stepmenu_top %}
    {{ block.super }}
    <small>
        / <a href="{% url reviewapp.submissionlist %}">{% trans 'Submissions' %}</a>
    </small>
    <big>/ {% trans 'New Submission' %}</big>
{% endblock %}

{% block body %}

<form method="post" action="/accounts/newsubmission/" enctype="multipart/form-data">{% csrf_token %}
{% for form in forms %}
<fieldset>
    <legend>{{ form.form_title }}</legend>
    <table id="table_{{ forloop.counter }}" class="dataTable" cellspacing="0">
        {{ form.as_table }}
    </table>
</fieldset>
{% endfor %}

<input name="submit" type="submit" value="{% trans "Submit" %}"/>
</form>

{% endblock %}

{% block endjs %}{{ block.super }}
    <script type="text/javascript">
        function new_institution(target){
            return window.open('{% url new_institution %}#'+target,'n_i','status=0,location=0,height=380');
        }

        $(document).ready(function() {
            $("select[multiple]").asmSelect({
                    addItemTarget: 'bottom',
                    animate: true,
                    highlight: true,
                    sortable: false
            });
            $('.dataTable th img').cluetip({sticky: true, closePosition: 'title',local:true, cursor: 'pointer'});

            // customization for the Brazilian registry of clinical trials
            // #190 Show Brazil at the beginning of the selects
            $("#asmSelect0 option").first().after($("#asmSelect0 option[value=1]"));
            $("#id_country option").first().after($("#id_country option[value=1]"));
        });
    </script>
{% endblock %}
