{% extends "base.html" %}

{% load i18n %}

{% block body_title %}{% trans 'News' %}{% endblock %}

{% block body %}

<h2>{% trans 'News' %}</h2>

{% if object_list %}

    {% for object in object_list %}
        <p>{{ object.created|date:'d/m/y' }} <a href="{% url reviewapp.news object.id %}">{{ object.title }}</a></p>
        <p>{{ object.short_text }} <a href="{% url reviewapp.news object.id %}">mais</a></p>
        <br />
    {% endfor %}

{% else %}
    <p>{% trans 'No news have been published.' %}</p>
{% endif %}
{% endblock %}
