{% extends "base.html" %}
{% load i18n %}

{% block body %}
<h2>{% trans "Submit a new Clinical Trial" %}</h2>
<p>{% trans "Choose one of the ways below to submit a new clinical trial" %}</p>
<ul>
    <li><a href="{% url reviewapp.new_submission %}">{% trans "Completing the submission form." %}</a></li>
    <li><a href="{% url reviewapp.uploadtrial %}"><strike>{% trans "Uploading an XML file." %}</strike></a></li>
</ul>

<h2>{% trans "Your Submissions list" %}</h2>
<div class="actions"><a href="{% url reviewapp.new_submission %}" class="button addNew">{% trans 'New Submission' %}</a></div>
<table class="dataTable">
    <thead>
        <tr>
            <th>{% trans "Created" %}</th>
            <th>{% trans "Submission Title" %}</th>
            <th>{% trans "Situation" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in object_list %}
        <tr>
            <td>{{ submission.created|date:'d M Y' }}</td>
            <td>
                <a href="{% url repository.edittrial submission.trial.pk %}">{{ submission.short_title }}</a>
            </td>
            <td>{{ submission.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
