{% extends "base.html" %}
{% load i18n %}

{% block body %}

<h2>{% trans "Your Submissions" %}</h2>
<table class="table">
    <thead>
        <tr>
            <th>{% trans "Created" %}</th>
            <th>{% trans "Submission Title" %}</th>
            <th>{% trans "Situation" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in object_list %}
        <tr>
            <td>{{ submission.created|date:'d M Y' }}</td>
            <td>
                <a href="{% url registry.edittrial submission.trial.pk %}">{{ submission.short_title }}</a>
            </td>
            <td>{{ submission.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p>
    <a href="{% url reviewapp.new_submission %}">{% trans "Submit a new Clinical Trial" %}</a>
</p>
{% endblock %}
