{% extends "base.html" %}
{% load i18n %}

{% block body %}
<h2>{% trans "User profile" %}</h2>
<form action="./" method="post">
    <fieldset>
        <legend>{% trans "Change your profile" %}</legend>
        <table class="table">
            <col width="20%"/>
            <col width="80%"/>
            {{ user_form.as_table }}
            {{ profile_form.as_table }}
        </table>
    </fieldset>
    
    <fieldset>
        <legend>{% trans "Change your password" %}</legend>
        <table class="table">
            <col width="20%"/>
            <col width="80%"/>
            {{ password_form.as_table }}
        </table>
    </fieldset>
    <input type="submit" value="{% trans 'Save' %}"/>
</form>
{% endblock %}