{% extends "base.html" %}
{% load i18n %}
{% block body_title %}{{ forms.form_main.title }}{% endblock %}

{% block body %}

    <form action="./" method="POST">{% csrf_token %}
        <table><caption>{% trans "Primary Outcomes" %}</caption>
        {{forms.form_main.as_table}}
        </table>
        <table><caption>{% trans "Secondary Outcomes" %}</caption>
        {{forms.form_main.as_table}}
        </table>
        <input name="submit_go" type="submit" 
                     value="{% trans "Save and continue later" %}"><br/>
        
        {% if next_form_title %}
        <input name="submit_next" type="submit"
             value="{% trans "Save and go to" %} '{{next_form_title}}'">
        {% endif %}
    </form>


{% endblock %}
