{% extends "base.html" %}

{% load i18n %}

{% block body_title %}{% trans "Clinical Trials" %}{% endblock %}

{% block stepmenu_top %}
    {{ block.super }}
    <big>/ {% trans 'Advanced Search' %}</big>
{% endblock %}

{% block body %}

    <form action="{% url repository.index %}" method="get">
        <label for="free_search">{% trans 'Trials containing the terms' %}:</label>
        <input type="text" name="q" class="textEntry" id="free_search" onblur="this.className = 'textEntry';" onfocus="this.className = 'textEntry textEntryFocus';" value="{{q}}" size="70"/>
        <br/><br />

        <label for="rec_country">{% trans 'Recruitment Country' %}:</label>
        <select name="rec_country">
            <option value="">---</option>
        {% for country in rec_countries %}
            <option value="{{ country.label }}" {% if search_filters.rec_country == country.label %} selected="selected" {% endif %}>{{ country.description }}</option>
        {% endfor %}
        </select>
        <br/>
        <br />

        <fieldset>
            <legend>{% trans 'Study Type' %}</legend>
            <input type="radio" group="studytype" name="is_observ" value="true" {% if '' in search_filters.is_observ %} checked="checked" {% endif %}>{% trans 'All' %}
            <input type="radio" group="studytype" name="is_observ" value="true" {% if 'true' in search_filters.is_observ %} checked="checked" {% endif %}>{% trans 'Observational' %}
            <input type="radio" group="studytype" name="is_observ" value="false" {% if 'false' in search_filters.is_observ %} checked="checked" {% endif %}>{% trans 'Interventional' %}
        </fieldset>

        <fieldset>
            <legend>{% trans 'Inclusion Gender' %}</legend>
            <input type="radio" name="gender" group="gender" value="-" {% if '-' in search_filters.gender %} checked="checked" {% endif %}> {% trans 'both' %}
            <input type="radio" name="gender" group="gender" value="F" {% if 'F' in search_filters.gender %} checked="checked" {% endif %}> {% trans 'female' %}
            <input type="radio" name="gender" group="gender" value="M" {% if 'M' in search_filters.gender %} checked="checked" {% endif %}> {% trans 'male' %}
        </fieldset>

        <fieldset>
            <legend>{% trans 'Recruitment Status' %}</legend>
            <ul name="rec_status">
                {% for status in rec_status %}
                <li><input type="checkbox" name="rec_status" value="{{ status.label }}" {% if status.label in search_filters.rec_status %} checked="checked" {% endif %}>{{ status.description }}</li>
                {% endfor %}
            </ul>
        </fieldset>

        <fieldset>
            <legend>{% trans 'Institution type' %}</legend>
            <ul name="i_type">
                {% for type in i_type %}
                <li><input type="checkbox" name="i_type" value="{{ type.label }}" {% if type.label in search_filters.i_type %} checked="checked" {% endif %}>{{ type.description }}</li>
                {% endfor %}
            </ul>
        </fieldset>

        <fieldset>
            <legend>{% trans 'Age limits' %}</legend>
            {% trans 'Inclusion Minimum Age' %}<ul name="age_min">
                <select name="age_min">
                    {% for i in ages %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            </ul>
            {% trans 'Inclusion Maximum Age' %}<ul name="age_max">
                <select name="age_max">
                    {% for i in ages %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                    <option value="120" selected="yes">120</option>
                </select>
            </ul>
        </fieldset>

        <br/>

        <input type="submit" class="submit" value="{% trans 'Search trials' %}" />
    </form>

{% endblock %}
