{% extends "base.html" %}

{% load i18n %}

{% block body_title %}{% trans "Clinical Trials" %}{% endblock %}

{% block stepmenu_top %}
    {{ block.super }}
    <big>/ {% trans 'Registered Trials' %}</big>
{% endblock %}

{% block body %}

    {% if object_list %}
        {% for ct in object_list %}
        <table class="dataTable" width="100%">
            <thead>
                <tr>
                    <th colspan="3">
                      <a href="{% url repository.trial_registered ct.trial_id %}">{{ ct.main_title }}</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="33%">{% trans 'Primary Id Number' %}: 
                    <a href="{% url repository.trial_registered ct.trial_id %}">{{ ct.trial_id }}</a></td>
                    <td width="33%">{% trans 'Recruitment Status' %}: {{ ct.recruitment_status }}</td>
                    <td width="33%">{% trans 'Date of Registration' %}: {{ ct.date_registration }}</td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
        
        {% if paginator.num_pages > 1 %}
        <span class="step-links">
            {% if has_previous %}
                <a href="?q={{ q }}&page=1"><<</a>
                <a href="?q={{ q }}&page={{ page_obj.previous_page_number }}"><</a>
            {% endif %}
            
            {% for p in paginator.page_range %}
                {% if p == page %}
                  <span class="current">
                      {{ p }}
                  </span>
                {% else %}
                    <a href="?q={{ q }}&page={{ p }}">{{ p }}</a>
                {% endif %}
            {% endfor %}
            
            {% if has_next %}
                  <a href="?q={{ q }}&page={{ page_obj.next_page_number }}">></a>
                  <a href="?q={{ q }}&page={{ paginator.num_pages }}">>></a>
            {% endif %}
        </span>
        {% endif %}

    {% else %}
        <p>{% trans 'No clinical trials have been registered.' %}.</p>
    {% endif %}
{% endblock %}
