{% extends "repository/clinicaltrial_detail.html" %}

{% load i18n %}

{% block body_title %}{% trans 'Clinical Trial' %}{% endblock %}

{% block stepmenu_top %}
    <small>
        <a href="{% url reviewapp.home %}">{% trans 'Home' %}</a>
    </small>
    <small>
        / <a href="{% url reviewapp.submissionlist %}">{% trans 'Submissions' %}</a>
    </small>
    <small>
        / <a href="{% url repository.edittrial object.pk %}">{% trans "Summary" %}</a>
    </small>
    <big>/ Trial {{ object }}</big>
{% endblock %}
