{% extends "repository/trial_form.html" %}
{% load i18n %}
{% load polyglot_tags %}

{% block disappear_clone_button %}{% endblock %}
{% block extra_buttons_step_8 %}
    <input type="submit" value="{% trans 'Save new contact' %}"/>
    <input type="button" value="{% trans 'Remove some contact...' %}" onclick="delete_contact();"/>
{% endblock %}

{% block endjs %}{{ block.super }}
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.smoothscroll.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("a[href=#new_contact]").smoothScroll();
        });

        function new_institution(target){
            return window.open('{% url new_institution %}#'+target,'n_i','status=0,location=0');
        }

        function delete_contact(target){
            return window.open('{% url contacts %}#'+target,'n_i','status=0,location=0,height=380');
        }


    </script>
    <script type="text/javascript">
        // customization for the Brazilian registry of clinical trials
        // #190 Show Brazil at the beginning of the selects
        $(document).ready(function(){
            $("#id_new_contact-0-country option").first().after($("#id_new_contact-0-country option[value=1]"));
        });

        // customization when display language is pt_br
        // format fields: CEP (zipcode) and Telefone (phone)
        if (display_language = 'pt_br'){
            function format_field(mask, element){
              var i = element.value.length;
              var saida = mask.substring(0,1);
              var texto = mask.substring(i)

              if (texto.substring(0,1) != saida){
                element.value += texto.substring(0,1);
              }
            }

            $("#id_new_contact-0-telephone").keypress(function() {
                format_field('##-####-####',this)
            });
            $("#id_new_contact-0-zip").keypress(function() {
                format_field('#####-###',this)
            });
        }

    </script>
{% endblock %}
