{% extends "repository/trial_form.html" %}
{% load i18n %}
{% load polyglot_tags %}

{% block endjs %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("div.g select")
                .change(getterm_event('{% url decs.getdescendants code="C" %}','{{LANGUAGE_CODE}}'))
                .each(function(){$(this).change();});

            $("div.s select")
                .change(search_event(
                        '{% url decs.search lang=LANGUAGE_CODE,term="" %}',
                        '{% trans "Search terms" %}',
                        '{{LANGUAGE_CODE}}'))
                .each(function(){$(this).change();});
        });
    </script>
{# the super is called at the end because the js change the elements above and generates conflicts with confirm-before-leave function #}
{{ block.super }}
{% endblock %}

