{% extends "base.html" %}
{% load i18n %}
{% block body_title %}{% trans forms.form_main.title %}{% endblock %}

{% block extrahead %}
    {# Shows forms scripts and css #}
    {% for form in forms %}{{ form.media }}{% endfor %}
{% endblock extrahead %}

{% block stepmenu_top %}
    <small>
        <a href="{% url repository.edittrial trial_pk %}">{% trans "Summary" %}</a>
    </small>
    {% for step in steps %}
    <span> | </span>
    <small{% if step.is_current %} class="current"{% endif %}>
        <a href="{{ step.link }}">{% trans step.name %}</a>
    </small>
    {% endfor %}
    <div style="float:right; margin-right:20px;">
        <small><a href="{% url repository.trialview trial_pk %}">{% trans 'Preview' %}</a></small>
    </div>
{% endblock %}

{% block stepmenu_bottom %}
<div class="stepmenu stepmenu-bottom">
    <ul>
        <li><a href="{% url repository.edittrial trial_pk %}">{% trans "Summary" %}</a></li>
        {% for step in steps %}
        <li{% if step.is_current %} class="current"{% endif %}>
            <a href="{{ step.link }}">{% trans step.name %}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
