{% extends "repository/submission_step.html" %}
{% load i18n %}
{% load remark %}

{% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/multilingual.css"/>
        <script type="text/javascript" src="{{MEDIA_URL}}js/multilingual.js"></script>

        <script type="text/javascript">
            MULTILINGUAL_FIELDS = {
                available_languages: ['{{ MANAGED_LANGUAGES_LC|join:"','" }}'],
                default_second_language: 'pt-br'
            };

            $(document).ready(function() {
                $("select[multiple]").asmSelect({
                        addItemTarget: 'bottom',
                        animate: true,
                        highlight: true,
                        sortable: false
                });
                $('.dataTable th img').cluetip({sticky: true, closePosition: 'title',local:true, cursor: 'pointer'});
            });
        </script>
{% endblock %}

{% block body %}
    {% if remarks %}
    <div class="warning">
        <a class="minimize button" onclick="$(this.parentNode).toggleClass('warning-minimized').find('ul').toggle('slow')"><img src="{{MEDIA_URL}}media/img/admin/arrow-down.gif"/></a>
        <a class="maximize button" onclick="$(this.parentNode).toggleClass('warning-minimized').find('ul').toggle('slow')"><img src="{{MEDIA_URL}}media/img/admin/arrow-up.gif"/></a>
        <h2>{% trans 'Remarks' %}</h2>
        <ul>
            {% for remark in remarks %}
            <li id="remark_{{ remark.id }}">{{ remark.text }}<a onclick="ack_remark({{ remark.id }})">
            <span>{% trans "Mark as reviewed" %}</span>
            <img alt="{% trans "Mark as reviewed" %}" src="{{MEDIA_URL}}media/img/admin/icon_deletelink.gif"/></a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <h2>{% trans title %}</h2>
    <form action="./" method="POST" class="confirm-before-leave">{% csrf_token %}
        {% for form in forms %}
        <fieldset>
            <legend>{% firstof form.title form.form.title %}</legend>
            <table class="dataTable" cellspacing="0">
                {{ form.as_table }}
            </table>
        </fieldset>
        {% endfor %}

        {% for formset in formsets %}
            {{ formset.management_form }}
            <fieldset id="{{formset.management_form.prefix}}">
            <legend>{{ formset.form.title }}</legend>


            <div class="{{formset.management_form.prefix}}">
            {% for form in formset.forms %}
                <table class="dataTable {% cycle 'even' 'odd' %}" cellspacing="0">
                    {{ form.as_table }}
                </table>
            {% endfor %}
            </div>
            <div style="text-align: center">
                {% block disappear_clone_button %}
                <input onclick="cloneMore('div.{{formset.management_form.prefix}} table:last','{{formset.management_form.prefix}}')" type="button" value="{% trans 'Add more' %}" />
                {% endblock %}
                {% block extra_buttons %}{% endblock %}
                {% if forloop.last %}
                    {% block extra_buttons_step_8 %}{% endblock %}
                {% endif %}
            </div>
            </fieldset>
        {% endfor %}
        <input type="submit" value="{% trans 'Save' %}"/>
    </form>

{% endblock %}

{% block endjs %}{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
        // Confirm before user leave page and lose modified data without save them
        $('form.confirm-before-leave').submit(function(){
            $(this).data('modified', false);
            window.onbeforeunload = null;
        }).each(function(){
            // Sets this form to modified as false, but after some field be modified, so update this attribute to true
            $(this).data('modified', false);
        });
        
        // Sets inputs change event to set form modified as true
        $('form.confirm-before-leave').find(':input').change(function(){
            $(this).parents('form').data('modified', true);

            // When a user leaves the current page without save, and has modified some field, asks for its confirmation
            window.onbeforeunload = confirmExit;
            function confirmExit(){
                // TODO: translate
                return 'You have done modifications on some fields. Are you sure you want to leave without save before?';
            }
        });
    });
</script>
{% endblock %}

