{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/css/tablesorter/style.css"/>
{% endblock %}

{% block stepmenu_top %}
    {{ block.super }}
    <big>/ {% trans 'Submissions' %}</big>
{% endblock %}

{% block body %}

<h2>{% trans "Submissions" %}</h2>

<br />
<a href="{% url repository.multi_otcsv %}" />{% trans 'Download all as OpenTrials CSV format' %}</a>
<br /><br />
{% csrf_token %}
<table class="dataTable" id="table_submissions">
    <thead>
        <tr>
            <th>{% trans 'Created' %}</th>
            <th>{% trans 'Updated' %}</th>
            <th>{% trans 'Status' %}</th>
            <th>{% trans 'Title' %}</th>
            <th>{% trans 'Creator' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in allsubmissions %}
        <tr>
            <td>{{ submission.created|date:'d/m/y H:i' }}</td>
            <td>{{ submission.updated|date:'d/m/y H:i' }}</td>
            <td>{{ submission.status }}</td>
            <td>
                <a href="{% url repository.trialview submission.trial.pk %}">{{ submission.short_title }}</a>
            </td>
            <td>{{ submission.creator }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block endjs %}{{ block.super }}
<script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    // call the tablesorter plugin
    $("#table_submissions").tablesorter({
        sortList: [[0,1]],
        dateFormat: 'uk',
        textExtraction: 'complex',
    });
});
</script>
{% endblock %}

