{% extends "base_columns.html" %}

{% load i18n %}

{% block body %}
    <div class="news">
    
    {% if page %}
        <a class="NewsExcerpt" href="/about/" title="{% trans 'Read more' %}">{{ page.content|safe }}</a>
    {% endif %}
    
    <table border="0" cellpading="0" cellspacing="0">
    <tr>
        <td>
            <h2><a title="{% trans 'List all' %}" href="{% url repository.list_all %}">{% trans 'Registered trials' %}</a></h2>
        </td>
        <td>
            <div class="highlights">
                <ul>
                    <li><a href="{% url reviewapp.new_submission %}" title="{% trans 'New Submission' %}"><img src="/static/images/button_newSubmission.jpg" alt="{% trans 'New Submission' %}"/></a></li>
                </ul>
            </div>
        </td>
    </tr>
    </table>

    {% if clinical_trials %}
        <ul>
        {% for ct in clinical_trials %}
            <li>
                <a class="NewsTitle" href="{% url repository.trialview ct.id %}">{{ ct.main_title }}</a>
                <p>
                    <b>{% trans 'Primary Id Number' %}</b>: <a class="pnumber" href="{% url repository.trialview ct.id %}">{{ ct.trial_id }}</a><br/>
                </p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% trans 'No clinical trials have been published.' %}</p>
    {% endif %}
    </div>
{% endblock %}
