{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
        <script type="text/javascript">
            $(document).ready(function() {
                $("select[multiple]").asmSelect({
                        addItemTarget: 'bottom',
                        animate: true,
                        highlight: true,
                        sortable: false
                });
                $('.dataTable th img').cluetip({sticky: true, closePosition: 'title',local:true, cursor: 'pointer'});
            });
        </script>
{% endblock %}

{% block stepmenu_top %}
    {{ block.super }}
    <small>
        / <a href="{% url reviewapp.submissionlist %}">{% trans 'Submissions' %}</a>
    </small>
    <big>/ {% trans 'New Submission' %}</big>
{% endblock %}

{% block body %}

<form method="post" action="/accounts/newsubmission/" enctype="multipart/form-data">{% csrf_token %}
{% for form in forms %}
<fieldset>
    <legend>{{ form.form_title }}</legend>
    <table id="table_{{ forloop.counter }}" class="dataTable" cellspacing="0">
        {{ form.as_table }}
    </table>
</fieldset>
{% endfor %}

<input name="submit" type="submit" value="{% trans "Submit" %}"/>
</form>

{% endblock %}
