{% extends "base_columns.html" %}

{% load i18n %}

{% block stepmenu_top %}
    {{ block.super }}
    <big>/ {% trans 'Activation email' %}</big>
{% endblock %}

{% block body %}

{% if user_requestor %}
    {% blocktrans with user_requestor.username as username and user_requestor.email as email %}
    <p>The user {{ username }} ({{ email }}) is already active, if 
    you have forgotten your password 
    {% endblocktrans %}
    <a href="{% url reviewapp.password_reset %}?email={{ user_requestor.email }}">
    {% trans "click here" %}</a>.</p>
{% else %}
    {% if user_exist %}
        <p>{% trans "A new activation email has been sent. Check your e-mail" %} ({{ email }}).</p>
    {% else %}
        <p>{% trans "The e-mail" %} {{ email }} {% trans "not belong to any registered user." %}</p>
    {% endif %}
{% endif %}
{% endblock %}
