{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/css/tablesorter/style.css"/>
<script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    // call the tablesorter plugin
    $("#table_submissions").tablesorter({
        sortList: [[0,1]],
        dateFormat: 'uk',
        textExtraction: 'complex',
    });
    
    $('input.button-confirm-delete').click(function(){
        if (confirm('{% trans "Want to delete this submission?" %}')){
            $(this).parents('form').submit();
        }
    });
});
</script>
{% endblock %}

{% block stepmenu_top %}
    {{ block.super }}
    <big>/ {% trans 'Submissions' %}</big>
{% endblock %}

{% block body %}
<h2>{% trans "Submit a new Clinical Trial" %}</h2>
<p>{% trans "Choose one of the ways below to submit a new clinical trial" %}</p>
<ul>
    <li><a href="{% url reviewapp.new_submission %}">{% trans "Completing the submission form." %}</a></li>
    <li><a href="{% url reviewapp.uploadtrial %}"><strike>{% trans "Uploading an XML file." %}</strike></a></li>
</ul>

<div class="actions" style="margin-right:40px;">
    <ul>
        <li><a href="{% url reviewapp.new_submission %}" title="{% trans 'New Submission' %}"><img src="/static/images/button_newSubmission.jpg" alt="{% trans 'New Submission' %}"/></a></li>
    </ul>
</div>

<h2>{% trans "Your Submissions list" %}</h2>

<div class="spacer"> </div>
{% if delete %}
<div class="success"><strong>{% trans 'The submission was deleted successfully.' %}</strong></div>
{% endif %}
{% if no_delete %}
<div class="warning"><strong>{% trans 'This submission can not be deleted.' %}</strong></div>
{% endif %}

<table class="dataTable" id="table_submissions">
    <thead>
        <tr>
            <th>{% trans "Created" %}</th>
            <th>{% trans "Submission Title" %}</th>
            <th>{% trans "Situation" %}</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for submission in object_list %}
        <tr>
            <td style="width:140px">{{ submission.created|date:'Y/m/d H:i' }}</td>
            <td>
                <a href="{% url repository.edittrial submission.trial__pk %}">{{ submission.short_title }}</a>
            </td>
            <td style="width:90px; text-align:center;">{{ submission.status }}</td>
            <td>
            {% if submission.can_delete %}
                <form action="{% url reviewapp.submission_delete submission.pk %}" method="POST" class="confirm-delete">
                {% csrf_token %}
                <input class="button-confirm-delete" type="button" style="font-size: 80%;" value="{% trans 'Delete' %}" title="{% trans 'Delete' %}" />
                </form>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

