{% extends "base.html" %}
{% load i18n %}

{% block stepmenu_top %}
    {{ block.super }}
    <small>
        / <a href="{% url reviewapp.submissionlist %}">{% trans 'Submissions' %}</a>
    </small>
    <big>/ {% trans 'Upload trial' %}</big>
{% endblock %}

{% block body %}

<p>
    {% trans "Here you can upload an XML on ICTRP standard to submit your clinical trial." %}
</p>

<form>
    <fieldset>
        <legend>{% trans "Select your XML file" %}</legend>
        {{ form.submission_xml }}
    </fieldset>
</form>

{% endblock %}
