{% extends "base_columns.html" %}
{% load i18n %}

{% block body %}

{% if form.errors %}
    <p>{% trans "Please correct the errors below." %}</p>
{% endif %}

<form method="post" action="{% url registration_register %}">{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="{% trans "register" %}" />
</form>

{% if form.email.data %}
    {% if form.email.errors %}
        <h3>{% trans "If this email belongs to you," %} 
        <a href="{% url reviewapp.resend_activation_email %}?email={{ form.email.data }}">
        {% trans "click here" %}</a> {% trans "to retrieve your username and password." %}</h3>
    {% endif %}
{% endif %}

{% endblock %}
